/* screen - audioplayer */

.audioplayer {
  align-items: center;
  background-color: rgba(53,53,53,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 900px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.audioplayer .anvndare-kan-nu-och-google-play-m4CVSK {
  background-color: transparent;
  color: var(--white);
  font-family: 'Rubik', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 118px;
  letter-spacing: 0.06px;
  line-height: 17.9px;
  position: absolute;
  text-align: left;
  top: 21px;
  width: 269px;
}
.audioplayer .anvndarnamn-i10643981067193-HCfW0l {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-top: 1.42px;
  min-height: 24px;
  min-width: 118px;
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.audioplayer .arrow-1-h7LeMT {
  background-color: transparent;
  height: 21px;
  left: 23px;
  position: absolute;
  top: 10px;
  width: 13px;
}
.audioplayer .arrow-2-h7LeMT {
  background-color: transparent;
  height: 21px;
  left: 16px;
  position: absolute;
  top: 10px;
  width: 12px;
}
.audioplayer .arrow-3-iQaBfH {
  background-color: transparent;
  height: 21px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 13px;
}
.audioplayer .arrow-4-iQaBfH {
  background-color: transparent;
  height: 21px;
  left: 13px;
  position: absolute;
  top: 11px;
  width: 13px;
}
.audioplayer .arrow-5-zUA2mT {
  background-color: transparent;
  height: 6px;
  left: 11px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.audioplayer .arrow-6-iofYqm {
  background-color: transparent;
  height: 6px;
  left: 12px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.audioplayer .arrow-7-ttMvh5 {
  background-color: transparent;
  height: 13px;
  left: 5px;
  position: absolute;
  top: 0px;
  width: 8px;
}
.audioplayer .av-0PZcXW {
  background-color: transparent;
  color: var(--white);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 18.3px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: 23.15px;
  margin-top: 9px;
  min-height: 22px;
  position: relative;
  text-align: left;
  width: 37px;
}
.audioplayer .b-logo-3-58J6IH {
  background-color: transparent;
  height: 34px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 39px;
}
.audioplayer .b-logo-4-skbiHL {
  background-color: transparent;
  flex-shrink: 1;
  height: 34px;
  object-fit: cover;
  position: relative;
  width: 39px;
}
.audioplayer .bcker-i10643981067179-bxgaHT {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 80px;
  margin-top: 11.0px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 70px;
}
.audioplayer .boktitel-0PZcXW {
  background-color: transparent;
  color: var(--white);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 64.1px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 76px;
  position: relative;
  text-align: left;
  width: 274px;
}
.audioplayer .bxbx-user-LV8roB {
  background-color: transparent;
  border-radius: 50px;
  flex-shrink: 1;
  height: 23px;
  overflow: hidden;
  position: relative;
  width: 23px;
}
.audioplayer .download-from-app-store-qb7VCa {
  background-color: transparent;
  color: var(--white);
  font-family: 'Rubik', Helvetica;
  font-size: 5px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: 47px;
}
.audioplayer .download-from-google-play-aEzwGs {
  background-color: transparent;
  color: var(--white);
  font-family: 'Rubik', Helvetica;
  font-size: 5px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: 47px;
}
.audioplayer .ellipse-326-h7LeMT {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 42px;
}
.audioplayer .ellipse-327-iQaBfH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 42px;
}
.audioplayer .ellipse-330-zUA2mT {
  background-color: transparent;
  height: 16px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 16px;
}
.audioplayer .ellipse-331-zUA2mT {
  background-color: transparent;
  height: 16px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 16px;
}
.audioplayer .ellipse-332-zUA2mT {
  background-color: transparent;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 15px;
}
.audioplayer .ellipse-334-iofYqm {
  background-color: transparent;
  height: 16px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}
.audioplayer .ellipse-336-iofYqm {
  background-color: transparent;
  height: 15px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 15px;
}
.audioplayer .ellipse-367-KnyYHa {
  background-color: transparent;
  height: 72px;
  left: 52px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.audioplayer .ellipse-368-7Ey4xg {
  background-color: transparent;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.audioplayer .ellipse-368-UQmhqA {
  background-color: transparent;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.audioplayer .ellipse-369-UbhGks {
  background-color: transparent;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.audioplayer .ellipse-369-zRDKkS {
  background-color: transparent;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.audioplayer .ellipse-370-JWa7E2 {
  background-color: transparent;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.audioplayer .ellipse-370-v1OmIl {
  background-color: transparent;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.audioplayer .ellipse-371-v5fSN2 {
  background-color: transparent;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.audioplayer .ellipse-372-MNPx9k {
  background-color: transparent;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.audioplayer .ellipse-372-OMTeX2 {
  background-color: transparent;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.audioplayer .ellipse-372-UHBFlc {
  background-color: transparent;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.audioplayer .ellipse-372-l58oQ4 {
  background-color: transparent;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.audioplayer .flex-col-dXBp89 {
  align-items: center;
  align-self: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 79px;
  min-height: 333px;
  position: relative;
  width: 274px;
}
.audioplayer .flex-row-C61RwL {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 336px;
  justify-content: flex-start;
  margin-left: 62.84px;
  margin-top: 102px;
  min-width: 1003px;
  position: relative;
  width: auto;
}
.audioplayer .group-511-m4CVSK {
  background-color: transparent;
  height: 27px;
  left: 400px;
  position: absolute;
  top: 15px;
  width: 104px;
}
.audioplayer .group-512-TSU94u {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 104px;
}
.audioplayer .group-513-m4CVSK {
  background-color: transparent;
  height: 27px;
  left: 400px;
  position: absolute;
  top: 50px;
  width: 102px;
}
.audioplayer .group-555-KnyYHa {
  background-color: transparent;
  height: 72px;
  left: 157px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  width: 74px;
}
.audioplayer .group-556-KnyYHa {
  background-color: transparent;
  height: 72px;
  left: 263px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  width: 74px;
}
.audioplayer .group-557-KnyYHa {
  background-color: transparent;
  height: 72px;
  left: 375px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  width: 74px;
}
.audioplayer .group-558-KnyYHa {
  background-color: transparent;
  height: 72px;
  left: 574px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  width: 74px;
}
.audioplayer .group-559-KnyYHa {
  background-color: transparent;
  height: 72px;
  left: 680px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  width: 74px;
}
.audioplayer .group-560-KnyYHa {
  background-color: transparent;
  height: 72px;
  left: 792px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  width: 74px;
}
.audioplayer .group-564-5wcUPi {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 19px;
  justify-content: center;
  margin-left: 1312px;
  min-width: 8px;
  position: relative;
  width: auto;
}
.audioplayer .group-565-5wcUPi {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 19px;
  justify-content: flex-end;
  min-width: 8px;
  opacity: 0.25;
  position: relative;
  transform: rotate(180deg);
  width: auto;
}
.audioplayer .group-566-KnyYHa {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: flex-start;
  left: 0px;
  min-width: 1328px;
  position: absolute;
  top: 22px;
  width: auto;
}
.audioplayer .group-567-KnyYHa {
  background-color: transparent;
  height: 72px;
  left: 469px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  width: 74px;
}
.audioplayer .group-568-KnyYHa {
  background-color: transparent;
  height: 72px;
  left: 886px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  width: 74px;
}
.audioplayer .group-569-KnyYHa {
  background-color: transparent;
  height: 72px;
  left: 992px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  width: 74px;
}
.audioplayer .group-570-KnyYHa {
  background-color: transparent;
  height: 72px;
  left: 1098px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  width: 74px;
}
.audioplayer .group-571-KnyYHa {
  background-color: transparent;
  height: 72px;
  left: 1204px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  width: 74px;
}
.audioplayer .group-573-m4CVSK {
  align-items: flex-end;
  background-color: rgba(241,241,241,1.0);
  border-radius: 19px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 59px;
  justify-content: flex-end;
  left: 28px;
  min-width: 63px;
  padding: 12.1px 11.1px;
  position: absolute;
  top: 21px;
  width: auto;
}
.audioplayer .group-wQXDsF {
  background-color: transparent;
  height: 14px;
  left: 139px;
  opacity: 0.8;
  position: absolute;
  top: 9px;
  width: 13px;
}
.audioplayer .hem-i10643981067180-bxgaHT {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-bottom: 3.58px;
  margin-left: 124px;
  min-height: 24px;
  min-width: 37px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.audioplayer .kontakt-i10643981067177-bxgaHT {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 60px;
  margin-top: 11.0px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 149px;
}
.audioplayer .line-34-m4CVSK {
  background-color: transparent;
  height: 13px;
  left: 524px;
  position: absolute;
  top: 4px;
  width: 13px;
}
.audioplayer .line-35-m4CVSK {
  background-color: transparent;
  height: 13px;
  left: 526px;
  position: absolute;
  top: 4px;
  width: 13px;
}
.audioplayer .logga-ut-i10643981067182-wQXDsF {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 176px;
}
.audioplayer .loggaut-bxgaHT {
  background-color: transparent;
  border-radius: 15px;
  flex-shrink: 1;
  height: 33px;
  margin-bottom: 2.58px;
  margin-left: 19px;
  overflow: hidden;
  position: relative;
  width: 174px;
}
.audioplayer .loggo-bxgaHT {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 45px;
  margin-top: 1.0px;
  position: relative;
  width: 190px;
}
.audioplayer .logo2bookstep-1-58J6IH {
  background-color: transparent;
  height: 28px;
  left: 10px;
  position: absolute;
  top: 8px;
  width: 33px;
}
.audioplayer .menubarinloggad-C61RwL {
  align-items: flex-end;
  background-color: var(--wild-sand);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 164px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 57.4px 30px;
  position: relative;
  width: auto;
}
.audioplayer .om-oss-i10643981067178-bxgaHT {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-bottom: 3.58px;
  margin-left: 46px;
  min-height: 24px;
  min-width: 57px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.audioplayer .ookstep-i10643981067196-58J6IH {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -0px;
  width: 155px;
}
.audioplayer .overlap-group-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  margin-left: 168px;
  margin-top: 51.64px;
  position: relative;
  width: 42px;
}
.audioplayer .overlap-group1-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  margin-left: 13px;
  margin-top: 51.64px;
  position: relative;
  width: 42px;
}
.audioplayer .overlap-group2-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 16px;
  margin-top: 49.65px;
  position: relative;
  width: 17px;
}
.audioplayer .overlap-group3-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 16px;
  margin-left: 20px;
  margin-top: 51.65px;
  position: relative;
  width: 18px;
}
.audioplayer .overlap-group4-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-left: 28.91px;
  margin-top: 53px;
  position: relative;
  width: 17px;
}
.audioplayer .overlap-group5-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 98px;
  margin-right: 2.0px;
  margin-top: 40px;
  position: relative;
  width: 544px;
}
.audioplayer .overlap-group6-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 72px;
  margin-left: 0.0px;
  margin-top: 40px;
  position: relative;
  width: 1328px;
}
.audioplayer .polygon-1-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 82px;
  margin-left: 3.26px;
  margin-top: 66px;
  position: relative;
  width: 75px;
}
.audioplayer .profil-bxgaHT {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 39px;
  justify-content: flex-end;
  margin-left: 134px;
  min-width: 204px;
  position: relative;
  width: auto;
}
.audioplayer .profile-HCfW0l {
  align-items: flex-end;
  background-color: rgba(53,53,53,1.0);
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 39px;
  justify-content: flex-end;
  margin-left: 10px;
  min-width: 40px;
  padding: 7.4px 8.2px;
  position: relative;
  width: auto;
}
.audioplayer .rectangle-503-ttMvh5 {
  background-color: transparent;
  border-radius: 4.581818103790283px;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 6px;
  width: 17px;
}
.audioplayer .rectangle-509-m4CVSK {
  background-color: rgba(0,0,0,0.25);
  border-radius: 9px;
  height: 98px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 544px;
}
.audioplayer .rectangle-556-aEzwGs {
  background-color: rgba(93,93,93,1.0);
  height: 27px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 102px;
}
.audioplayer .rectangle-556-qb7VCa {
  background-color: rgba(93,93,93,1.0);
  height: 27px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 102px;
}
.audioplayer .span0-MgaZoV {
  color: rgba(255,255,255,1.0);
  font-style: normal;
}
.audioplayer .span0-a4d5Ba {
  color: rgba(255,255,255,1.0);
  font-style: normal;
}
.audioplayer .span1-MgaZoV {
  color: rgba(255,255,255,1.0);
  font-style: normal;
  font-weight: 500;
}
.audioplayer .span1-a4d5Ba {
  color: rgba(255,255,255,1.0);
  font-style: normal;
  font-weight: 500;
}
.audioplayer .subtract-dXBp89 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 25px;
  margin-left: 169px;
  position: relative;
  width: 25px;
}
.audioplayer .vector-242-AHPqQ6 {
  background-color: transparent;
  flex-shrink: 1;
  height: 26px;
  margin-top: -3.32px;
  position: relative;
  transform: rotate(-180deg);
  width: 16px;
}
.audioplayer .vector-242-LVekaf {
  background-color: transparent;
  flex-shrink: 1;
  height: 26px;
  margin-top: -3.32px;
  position: relative;
  width: 16px;
}
.audioplayer .vector-5IUgZZ {
  background-color: transparent;
  height: 2px;
  left: 3px;
  position: absolute;
  top: 6px;
  width: 11px;
}
.audioplayer .vector-7Ey4xg {
  background-color: transparent;
  height: 26px;
  left: 40px;
  position: absolute;
  top: 22px;
  width: 20px;
}
.audioplayer .vector-HCfW0l {
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  margin-left: 9px;
  margin-top: 9.42px;
  position: relative;
  width: 16px;
}
.audioplayer .vector-JWa7E2 {
  background-color: transparent;
  height: 26px;
  left: 40px;
  position: absolute;
  top: 22px;
  width: 20px;
}
.audioplayer .vector-MNPx9k {
  background-color: transparent;
  height: 26px;
  left: 45px;
  position: absolute;
  top: 22px;
  width: 20px;
}
.audioplayer .vector-OMTeX2 {
  background-color: transparent;
  height: 26px;
  left: 45px;
  position: absolute;
  top: 22px;
  width: 20px;
}
.audioplayer .vector-TSU94u {
  background-color: transparent;
  height: 16px;
  left: 10px;
  position: absolute;
  top: 6px;
  width: 14px;
}
.audioplayer .vector-Tu5MOb {
  background-color: transparent;
  height: 8px;
  left: 9px;
  position: absolute;
  top: 3px;
  width: 5px;
}
.audioplayer .vector-UHBFlc {
  background-color: transparent;
  height: 26px;
  left: 45px;
  position: absolute;
  top: 22px;
  width: 20px;
}
.audioplayer .vector-UQmhqA {
  background-color: transparent;
  height: 26px;
  left: 40px;
  position: absolute;
  top: 22px;
  width: 20px;
}
.audioplayer .vector-UbhGks {
  background-color: transparent;
  height: 26px;
  left: 40px;
  position: absolute;
  top: 22px;
  width: 20px;
}
.audioplayer .vector-d0PgHK {
  background-color: transparent;
  height: 1px;
  left: 11px;
  position: absolute;
  top: 6px;
  width: 1px;
}
.audioplayer .vector-ecSiqR {
  background-color: transparent;
  height: 16px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 12px;
}
.audioplayer .vector-l58oQ4 {
  background-color: transparent;
  height: 26px;
  left: 45px;
  position: absolute;
  top: 22px;
  width: 20px;
}
.audioplayer .vector-qb7VCa {
  background-color: transparent;
  height: 17px;
  left: 10px;
  position: absolute;
  top: 5px;
  width: 14px;
}
.audioplayer .vector-v1OmIl {
  background-color: transparent;
  height: 26px;
  left: 40px;
  position: absolute;
  top: 22px;
  width: 20px;
}
.audioplayer .vector-v5fSN2 {
  background-color: transparent;
  height: 26px;
  left: 40px;
  position: absolute;
  top: 22px;
  width: 20px;
}
.audioplayer .vector-xoDvf6 {
  background-color: transparent;
  height: 19px;
  left: 2px;
  position: absolute;
  top: 1px;
  width: 18px;
}
.audioplayer .vector-zRDKkS {
  background-color: transparent;
  height: 26px;
  left: 40px;
  position: absolute;
  top: 22px;
  width: 20px;
}
.audioplayer .x-1-dXBp89 {
  align-self: flex-end;
  background-color: transparent;
  color: var(--white);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 18.3px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-bottom: 1.5px;
  margin-left: 107px;
  min-height: 22px;
  position: relative;
  text-align: left;
  width: 25px;
}
.audioplayer .x1-KnyYHa {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 79px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  width: auto;
}
.audioplayer .x10-UHBFlc {
  background-color: transparent;
  height: auto;
  left: 3px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  width: auto;
}
.audioplayer .x11-OMTeX2 {
  background-color: transparent;
  height: auto;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  width: auto;
}
.audioplayer .x12-MNPx9k {
  background-color: transparent;
  height: auto;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  width: auto;
}
.audioplayer .x12-l58oQ4 {
  background-color: transparent;
  height: auto;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  width: auto;
}
.audioplayer .x2-UQmhqA {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  width: auto;
}
.audioplayer .x3-UbhGks {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  width: auto;
}
.audioplayer .x4-JWa7E2 {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  width: auto;
}
.audioplayer .x6-v5fSN2 {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  width: auto;
}
.audioplayer .x7-7Ey4xg {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  width: auto;
}
.audioplayer .x8-zRDKkS {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  width: auto;
}
.audioplayer .x9-v1OmIl {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  width: auto;
}
