/* screen - frame-18 */

.frame-18 {
  align-items: center;
  background-color: var(--wild-sand);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 3101px;
  overflow-x: hidden;
  position: relative;
  width: 1441px;
}
.frame-18 .amet-GyJUNH {
  background-color: transparent;
  color: rgba(54,54,54,1.0);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 48px;
  position: relative;
  text-align: left;
  width: auto;
}
.frame-18 .anvndarnamn-i10671041067193-xsqohN {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-top: 1.42px;
  min-height: 24px;
  min-width: 118px;
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.frame-18 .anvndarnamn-nh8mnU {
  background-color: transparent;
  color: rgba(54,54,54,1.0);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 37.7px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 1px;
  min-height: 45px;
  min-width: 290px;
  position: relative;
  text-align: left;
  width: auto;
}
.frame-18 .b-logo-3-EMZsZL {
  background-color: transparent;
  height: 34px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 39px;
}
.frame-18 .bcker-i10671041067179-BHnHMf {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 80px;
  margin-top: 11.0px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 70px;
}
.frame-18 .bcker-qHnttN {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 34px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 71px;
}
.frame-18 .bxbx-user-cKssxp {
  background-color: transparent;
  border-radius: 50px;
  flex-shrink: 1;
  height: 23px;
  overflow: hidden;
  position: relative;
  width: 23px;
}
.frame-18 .bxbx-user-xUSOtZ {
  background-color: transparent;
  flex-shrink: 1;
  height: 240px;
  overflow: hidden;
  position: relative;
  width: 240px;
}
.frame-18 .chat-nmEgU0 {
  background-color: transparent;
  color: rgba(54,54,54,1.0);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: 4px;
  margin-top: 23px;
  min-height: 19px;
  min-width: 38px;
  position: relative;
  text-align: left;
  width: auto;
}
.frame-18 .ellipse-306-BrUkNd {
  background-color: transparent;
  flex-shrink: 1;
  height: 69px;
  margin-right: 0.0px;
  margin-top: 20px;
  position: relative;
  width: 69px;
}
.frame-18 .ellipse-306-oEFxcm {
  background-color: transparent;
  flex-shrink: 1;
  height: 69px;
  margin-right: -2532px;
  margin-top: -69px;
  position: relative;
  transform: rotate(-180deg);
  width: 69px;
}
.frame-18 .ellipse-332-RH0WJ5 {
  background-color: transparent;
  height: 86px;
  left: 893px;
  position: absolute;
  top: 564px;
  width: 84px;
}
.frame-18 .ellipse-333-RH0WJ5 {
  background-color: transparent;
  height: 76px;
  left: 934px;
  position: absolute;
  top: 563px;
  width: 43px;
}
.frame-18 .ellipse-335-iofYqm {
  background-color: transparent;
  height: 21px;
  left: 16px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.frame-18 .entypobook-DQ9yiG {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 56px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 1.0px 8.0px;
  position: relative;
  width: 56px;
}
.frame-18 .entypobook-dXBp89 {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 45px;
  justify-content: flex-start;
  margin-left: 340px;
  overflow: hidden;
  padding: 1.0px 6.0px;
  position: relative;
  width: 45px;
}
.frame-18 .fa-solidshoe-prints-RH0WJ5 {
  background-color: transparent;
  background-image: url(../img/vector-168@2x.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 922px;
  overflow: hidden;
  position: absolute;
  top: 595px;
  width: 24px;
}
.frame-18 .favoritljudbcker-BFTBZF {
  background-color: transparent;
  color: rgba(54,54,54,1.0);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 37.7px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 66.5px;
  margin-top: 56px;
  min-height: 45px;
  min-width: 337px;
  position: relative;
  text-align: left;
  width: auto;
}
.frame-18 .flex-col-6Jgt8Y {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 11px;
  min-height: 121px;
  position: relative;
  width: 24px;
}
.frame-18 .flex-col-C61RwL {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 1.0px;
  margin-top: 3px;
  min-height: 2185px;
  position: relative;
  width: 1440px;
}
.frame-18 .flex-col-RkpQgY {
  align-items: flex-start;
  align-self: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 152px;
  position: relative;
  width: 390px;
}
.frame-18 .flex-col-t9YHPW {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 4.0px;
  margin-left: 131px;
  min-height: 116px;
  position: relative;
  width: 70px;
}
.frame-18 .flex-row-0xy0vn {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  margin-right: 33.0px;
  min-width: 803px;
  position: relative;
  width: auto;
}
.frame-18 .flex-row-BFTBZF {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 384px;
  justify-content: flex-start;
  margin-top: 33px;
  min-width: 1389px;
  position: relative;
  width: auto;
}
.frame-18 .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 56px;
  justify-content: flex-start;
  margin-right: 42.0px;
  margin-top: 8px;
  min-width: 799px;
  position: relative;
  width: auto;
}
.frame-18 .flex-row-RH0WJ5 {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 173px;
  justify-content: flex-start;
  left: 657px;
  min-width: 626px;
  position: absolute;
  top: 247px;
  width: auto;
}
.frame-18 .flex-row-s3i1G8 {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 21px;
  justify-content: flex-start;
  left: 1002px;
  min-width: 99px;
  position: absolute;
  top: 595px;
  width: auto;
}
.frame-18 .flex-row-wN84x2 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 56px;
  justify-content: flex-start;
  left: 670px;
  min-width: 177px;
  position: absolute;
  top: 593px;
  width: auto;
}
.frame-18 .fortstt-lyssna-RH0WJ5 {
  background-color: transparent;
  color: rgba(54,54,54,1.0);
  font-family: 'Rubik', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 232px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 702px;
  width: auto;
}
.frame-18 .frame-19-iofYqm {
  background-color: transparent;
  background-image: url(../img/ellipse-336-6@2x.svg);
  background-size: 100% 100%;
  height: 45px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 45px;
}
.frame-18 .frame-3-52Wjwg {
  align-items: flex-start;
  background-color: rgba(229,229,229,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 743px;
  justify-content: flex-start;
  left: 0px;
  overflow: hidden;
  padding: 44px 6.5px;
  position: absolute;
  top: 49px;
  width: 1440px;
}
.frame-18 .frame-6-0xy0vn {
  align-items: flex-start;
  background-color: var(--wild-sand);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: 686px;
  justify-content: flex-start;
  margin-top: 0px;
  overflow: hidden;
  padding: 30.9px 69px;
  position: relative;
  width: 1440px;
}
.frame-18 .group-330-BW4juS {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  min-width: 604px;
  position: relative;
  width: auto;
}
.frame-18 .group-372-tjLPzg {
  background-color: transparent;
  border-radius: 15.833860397338867px;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 131px;
}
.frame-18 .group-411-9hEe4Z {
  background-color: transparent;
  flex-shrink: 1;
  height: 333px;
  position: relative;
  width: 281px;
}
.frame-18 .group-411-J0ACsc {
  background-color: rgba(120,120,120,1.0);
  flex-shrink: 1;
  height: 82px;
  position: relative;
  width: 55px;
}
.frame-18 .group-411-XAePGU {
  background-color: transparent;
  flex-shrink: 1;
  height: 293px;
  margin-bottom: -0.0px;
  position: relative;
  width: 248px;
}
.frame-18 .group-411-qY9O5e {
  background-color: transparent;
  flex-shrink: 1;
  height: 293px;
  position: relative;
  width: 248px;
}
.frame-18 .group-411-y4gsIE {
  background-color: transparent;
  flex-shrink: 1;
  height: 293px;
  position: relative;
  width: 248px;
}
.frame-18 .group-416-TKtMaU {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 333px;
  justify-content: flex-start;
  left: 0px;
  min-width: 281px;
  position: absolute;
  top: 0px;
  width: auto;
}
.frame-18 .group-418-Zx8vHC {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 0px;
  margin-top: -0.0px;
  min-height: 69px;
  position: relative;
  transform: rotate(180deg);
  width: 69px;
}
.frame-18 .group-418-jtm5PN {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 69px;
  position: relative;
  transform: rotate(180deg);
  width: 69px;
}
.frame-18 .group-420-dfBUSX {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 31px;
  margin-left: 47.0px;
  margin-top: 86px;
  position: relative;
  width: 135px;
}
.frame-18 .group-441-0DtnUk {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 293px;
  justify-content: flex-start;
  left: 0px;
  min-width: 248px;
  position: absolute;
  top: 0px;
  width: auto;
}
.frame-18 .group-442-cUHxae {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 293px;
  justify-content: flex-start;
  left: 0px;
  min-width: 248px;
  position: absolute;
  top: 0px;
  width: auto;
}
.frame-18 .group-443-BN92eB {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 293px;
  justify-content: flex-start;
  left: 0px;
  min-width: 248px;
  position: absolute;
  top: 0px;
  width: auto;
}
.frame-18 .group-445-RH0WJ5 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 82px;
  justify-content: flex-start;
  left: 163px;
  min-width: 55px;
  position: absolute;
  top: 692px;
  width: auto;
}
.frame-18 .group-445-m1rzMI {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 333px;
  justify-content: flex-start;
  left: 43px;
  min-width: 1139px;
  position: absolute;
  top: 0px;
  width: auto;
}
.frame-18 .group-461-RH0WJ5 {
  align-items: flex-end;
  background-color: rgba(53,53,53,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 407px;
  justify-content: flex-end;
  left: 166px;
  min-width: 422px;
  padding: 78px 87px;
  position: absolute;
  top: 249px;
  width: auto;
}
.frame-18 .group-467-m1rzMI {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 69px;
  justify-content: flex-start;
  left: 1161px;
  min-width: 69px;
  position: absolute;
  top: 112px;
  width: auto;
}
.frame-18 .group-468-m1rzMI {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 69px;
  justify-content: flex-start;
  left: 0px;
  min-width: 69px;
  position: absolute;
  top: 107px;
  transform: rotate(-180.00deg);
  width: auto;
}
.frame-18 .group-491-y1HRxC {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 422px;
  min-width: 594px;
  position: absolute;
  top: 202px;
  width: auto;
}
.frame-18 .group-492-Vtxt54 {
  background-color: transparent;
  flex-shrink: 1;
  height: 382px;
  position: relative;
  width: 462px;
}
.frame-18 .group-492-y1HRxC {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 38px;
  justify-content: flex-start;
  left: 669px;
  min-width: 100px;
  position: absolute;
  top: 306px;
  width: auto;
}
.frame-18 .group-519-1kxNMP {
  background-color: transparent;
  height: 382px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 462px;
}
.frame-18 .group-520-1kxNMP {
  background-color: transparent;
  height: 382px;
  left: 459px;
  position: absolute;
  top: 0px;
  width: 462px;
}
.frame-18 .group-584-RH0WJ5 {
  -webkit-backdrop-filter: blur(18px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(18px) brightness(100%);
  background-color: rgba(115,115,115,0.25);
  border-radius: 10.5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 660px;
  justify-content: flex-start;
  left: 1394px;
  min-width: 21px;
  padding: 2.6px 2px;
  position: absolute;
  top: 188px;
  width: auto;
}
.frame-18 .group-EpyL8o {
  background-color: transparent;
  height: 14px;
  left: 139px;
  opacity: 0.8;
  position: absolute;
  top: 9px;
  width: 13px;
}
.frame-18 .group-XgXSau {
  background-color: transparent;
  background-image: url(../img/vector-2@2x.svg);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 35px;
  margin-bottom: 0.17px;
  margin-left: 27px;
  position: relative;
  width: 35px;
}
.frame-18 .group-bt51dn {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 25px;
  justify-content: flex-start;
  min-width: 24px;
  position: relative;
  width: auto;
}
.frame-18 .hem-i10671041067180-BHnHMf {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-bottom: 3.58px;
  margin-left: 124px;
  min-height: 24px;
  min-width: 37px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.frame-18 .hem-qHnttN {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 71px;
}
.frame-18 .hitta-vn-nmEgU0 {
  background-color: transparent;
  color: rgba(54,54,54,1.0);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 35px;
  min-height: 19px;
  min-width: 70px;
  position: relative;
  text-align: left;
  width: auto;
}
.frame-18 .ipsum-DQ9yiG {
  background-color: transparent;
  color: rgba(54,54,54,1.0);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-bottom: 15.0px;
  margin-left: 42px;
  min-height: 21px;
  min-width: 54px;
  position: relative;
  text-align: left;
  width: auto;
}
.frame-18 .ipsum-GyJUNH {
  background-color: transparent;
  color: rgba(54,54,54,1.0);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 332px;
  min-height: 21px;
  min-width: 54px;
  position: relative;
  text-align: left;
  width: auto;
}
.frame-18 .kapitel-4-RH0WJ5 {
  background-color: transparent;
  height: auto;
  left: 234px;
  letter-spacing: 0.02px;
  line-height: 20.9px;
  opacity: 0.5;
  position: absolute;
  text-align: left;
  top: 743px;
  white-space: nowrap;
  width: 146px;
}
.frame-18 .kontakt-i10671041067177-BHnHMf {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 60px;
  margin-top: 11.0px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 149px;
}
.frame-18 .ljudbcker-BFTBZF {
  align-self: center;
  background-color: transparent;
  color: rgba(54,54,54,1.0);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 37.7px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 40.0px;
  min-height: 45px;
  min-width: 214px;
  position: relative;
  text-align: left;
  width: auto;
}
.frame-18 .logga-in-qHnttN {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 34px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 71px;
}
.frame-18 .logga-ut-i10671041067182-EpyL8o {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 176px;
}
.frame-18 .loggaut-BHnHMf {
  background-color: transparent;
  border-radius: 15px;
  flex-shrink: 1;
  height: 33px;
  margin-bottom: 2.58px;
  margin-left: 19px;
  overflow: hidden;
  position: relative;
  width: 174px;
}
.frame-18 .loggo-BHnHMf {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 45px;
  margin-top: 1.0px;
  position: relative;
  width: 190px;
}
.frame-18 .logo2bookstep-1-EMZsZL {
  background-color: transparent;
  height: 28px;
  left: 10px;
  position: absolute;
  top: 8px;
  width: 33px;
}
.frame-18 .lorem-ipsum-dol-e-vel-venenatis-BFTBZF {
  background-color: transparent;
  color: rgba(54,54,54,1.0);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 19.2px;
  margin-left: 66.5px;
  margin-top: 16px;
  min-height: 57px;
  position: relative;
  text-align: left;
  width: 722px;
}
.frame-18 .lorem-ipsum-dol-e-vel-venenatis-dfBUSX {
  background-color: transparent;
  color: rgba(54,54,54,1.0);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 19.2px;
  margin-top: 16px;
  min-height: 57px;
  position: relative;
  text-align: left;
  width: 722px;
}
.frame-18 .lorem-ipsum-dol-e-vel-venenatis-nh8mnU {
  background-color: transparent;
  color: rgba(54,54,54,1.0);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 19.2px;
  margin-top: 12px;
  min-height: 95px;
  position: relative;
  text-align: left;
  width: 390px;
}
.frame-18 .lorum-GyJUNH {
  background-color: transparent;
  color: rgba(54,54,54,1.0);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 313px;
  min-height: 21px;
  min-width: 56px;
  position: relative;
  text-align: left;
  width: auto;
}
.frame-18 .menubarinloggad-RH0WJ5 {
  align-items: flex-end;
  background-color: var(--wild-sand);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 164px;
  justify-content: flex-end;
  left: 1px;
  min-width: 1440px;
  padding: 57.4px 30px;
  position: absolute;
  top: 0px;
  width: auto;
}
.frame-18 .om-oss-i10671041067178-BHnHMf {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-bottom: 3.58px;
  margin-left: 46px;
  min-height: 24px;
  min-width: 57px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.frame-18 .om-oss-qHnttN {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 34px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 71px;
}
.frame-18 .ookstep-i10671041067196-EMZsZL {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -0px;
  width: 155px;
}
.frame-18 .overlap-group-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 489px;
  margin-top: 193px;
  position: relative;
  width: 1440px;
}
.frame-18 .overlap-group1-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 848px;
  position: relative;
  width: 1441px;
}
.frame-18 .overlap-group2-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 792px;
  margin-top: 3px;
  position: relative;
  width: 1440px;
}
.frame-18 .overlap-group3-Vtxt54 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 382px;
  margin-left: 6px;
  position: relative;
  width: 921px;
}
.frame-18 .overlap-group3-dXBp89 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 46px;
  position: relative;
  width: 46px;
}
.frame-18 .overlap-group3-xeTiq3 {
  background-color: transparent;
  flex-shrink: 1;
  height: 333px;
  position: relative;
  width: 281px;
}
.frame-18 .overlap-group4-dfBUSX {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 333px;
  margin-left: 0.0px;
  margin-top: 53px;
  position: relative;
  width: 1230px;
}
.frame-18 .overlap-group5-xeTiq3 {
  background-color: transparent;
  flex-shrink: 1;
  height: 293px;
  margin-left: 33px;
  margin-top: 6.36px;
  position: relative;
  width: 248px;
}
.frame-18 .overlap-group6-xeTiq3 {
  background-color: transparent;
  flex-shrink: 1;
  height: 293px;
  margin-left: 35px;
  margin-top: 6.36px;
  position: relative;
  width: 248px;
}
.frame-18 .overlap-group7-xeTiq3 {
  background-color: transparent;
  flex-shrink: 1;
  height: 293px;
  margin-left: 45px;
  margin-top: 6.36px;
  position: relative;
  width: 248px;
}
.frame-18 .polygon-3-RH0WJ5 {
  background-color: transparent;
  height: 26px;
  left: 540px;
  position: absolute;
  top: 720px;
  width: 23px;
}
.frame-18 .polygon-5-52Wjwg {
  background-color: transparent;
  height: 66px;
  left: 673px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.frame-18 .profil-BHnHMf {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 39px;
  justify-content: flex-end;
  margin-left: 134px;
  min-width: 204px;
  position: relative;
  width: auto;
}
.frame-18 .profil-RH0WJ5 {
  background-color: transparent;
  color: rgba(54,54,54,1.0);
  font-family: 'Rubik', Helvetica;
  font-size: 37.7px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 166px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 162px;
  width: auto;
}
.frame-18 .profile-xsqohN {
  align-items: flex-end;
  background-color: rgba(53,53,53,1.0);
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 39px;
  justify-content: flex-end;
  margin-left: 10px;
  min-width: 40px;
  padding: 7.4px 8.2px;
  position: relative;
  width: auto;
}
.frame-18 .rectangle-1292-RH0WJ5 {
  background-color: rgba(235,235,235,1.0);
  height: 82px;
  left: 218px;
  position: absolute;
  top: 692px;
  width: 370px;
}
.frame-18 .rectangle-1297-BmIE1S {
  background-color: rgba(86,86,86,1.0);
  border-radius: 8.542372703552246px;
  flex-shrink: 1;
  height: 83px;
  position: relative;
  width: 17px;
}
.frame-18 .rectangle-436-3xKOdc {
  background-color: var(--hint-of-red);
  box-shadow: 0px 4.238807201385498px 20.34627342224121px rgba(0,0,0,0.15);;
  height: 293px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.frame-18 .rectangle-436-hhz5UL {
  background-color: var(--hint-of-red);
  box-shadow: 0px 4.238807201385498px 20.34627342224121px rgba(0,0,0,0.15);;
  height: 293px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.frame-18 .rectangle-436-pb67iC {
  background-color: var(--hint-of-red);
  box-shadow: 0px 4.238807201385498px 20.34627342224121px rgba(0,0,0,0.15);;
  height: 293px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.frame-18 .rectangle-436-w65qjm {
  background-color: var(--hint-of-red);
  box-shadow: 0px 4.238807201385498px 20.34627342224121px rgba(0,0,0,0.15);;
  height: 333px;
  left: 1px;
  position: absolute;
  top: -0px;
  width: 280px;
}
.frame-18 .rectangle-437-3xKOdc {
  background-color: var(--celeste);
  height: 246px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.frame-18 .rectangle-437-hhz5UL {
  background-color: rgba(127,127,127,1.0);
  height: 246px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.frame-18 .rectangle-437-pb67iC {
  background-color: rgba(172,172,172,1.0);
  height: 246px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.frame-18 .rectangle-437-w65qjm {
  background-color: var(--celeste);
  height: 282px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 280px;
}
.frame-18 .rectangle-440-3xKOdc {
  background-color: transparent;
  height: 28px;
  left: 199px;
  position: absolute;
  top: -0px;
  width: 49px;
}
.frame-18 .rectangle-440-hhz5UL {
  background-color: transparent;
  height: 28px;
  left: 199px;
  position: absolute;
  top: -0px;
  width: 49px;
}
.frame-18 .rectangle-440-pb67iC {
  background-color: transparent;
  height: 28px;
  left: 199px;
  position: absolute;
  top: -0px;
  width: 49px;
}
.frame-18 .rectangle-440-w65qjm {
  background-color: transparent;
  height: 31px;
  left: 226px;
  position: absolute;
  top: -0px;
  width: 55px;
}
.frame-18 .rectangle-526-y1HRxC {
  background-color: rgba(30,30,30,1.0);
  height: 489px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.frame-18 .rectangle-527-RH0WJ5 {
  background-color: var(--wild-sand);
  height: 164px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.frame-18 .redigera-nmEgU0 {
  background-color: transparent;
  color: rgba(54,54,54,1.0);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: 1px;
  min-height: 19px;
  min-width: 69px;
  position: relative;
  text-align: left;
  width: auto;
}
.frame-18 .se-alla-bcker-tjLPzg {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 23px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: 112px;
}
.frame-18 .senaste-lsta-bcker-dfBUSX {
  background-color: transparent;
  color: rgba(54,54,54,1.0);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 37.7px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 45px;
  min-width: 397px;
  position: relative;
  text-align: left;
  width: auto;
}
.frame-18 .skapa-konto-gratis-qHnttN {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 51px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 154px;
}
.frame-18 .star-1-3xKOdc {
  background-color: transparent;
  height: 11px;
  left: 212px;
  position: absolute;
  top: 8px;
  width: 12px;
}
.frame-18 .star-1-hhz5UL {
  background-color: transparent;
  height: 11px;
  left: 212px;
  position: absolute;
  top: 8px;
  width: 12px;
}
.frame-18 .star-1-pb67iC {
  background-color: transparent;
  height: 11px;
  left: 212px;
  position: absolute;
  top: 8px;
  width: 12px;
}
.frame-18 .star-1-w65qjm {
  background-color: transparent;
  height: 13px;
  left: 241px;
  position: absolute;
  top: 9px;
  width: 13px;
}
.frame-18 .the-clean-startup-RH0WJ5 {
  background-color: transparent;
  height: auto;
  left: 232px;
  letter-spacing: 0.02px;
  line-height: 20.9px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 725px;
  white-space: nowrap;
  width: 146px;
}
.frame-18 .total-9VdFwH {
  background-color: transparent;
  color: rgba(54,54,54,1.0);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 43px;
  position: relative;
  text-align: left;
  width: auto;
}
.frame-18 .vector-240-3xKOdc {
  background-color: transparent;
  height: 186px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 248px;
}
.frame-18 .vector-240-hSxAmu {
  background-color: transparent;
  height: 84px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 57px;
}
.frame-18 .vector-240-hhz5UL {
  background-color: transparent;
  height: 186px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 248px;
}
.frame-18 .vector-240-pb67iC {
  background-color: transparent;
  height: 186px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 248px;
}
.frame-18 .vector-240-w65qjm {
  background-color: transparent;
  height: 211px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 281px;
}
.frame-18 .vector-241-3xKOdc {
  background-color: transparent;
  height: 187px;
  left: -1px;
  position: absolute;
  top: -0px;
  width: 249px;
}
.frame-18 .vector-241-hSxAmu {
  background-color: transparent;
  height: 84px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 57px;
}
.frame-18 .vector-241-hhz5UL {
  background-color: transparent;
  height: 187px;
  left: -1px;
  position: absolute;
  top: -0px;
  width: 249px;
}
.frame-18 .vector-241-pb67iC {
  background-color: transparent;
  height: 186px;
  left: -1px;
  position: absolute;
  top: 0px;
  width: 249px;
}
.frame-18 .vector-241-w65qjm {
  background-color: transparent;
  height: 212px;
  left: -1px;
  position: absolute;
  top: -0px;
  width: 282px;
}
.frame-18 .vector-242-BrUkNd {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-right: 4.36px;
  position: relative;
  width: 17px;
}
.frame-18 .vector-242-oEFxcm {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-right: -2508.18px;
  margin-top: 20px;
  position: relative;
  transform: rotate(-180deg);
  width: 17px;
}
.frame-18 .vector-302-TKtMaU {
  background-color: transparent;
  height: 2px;
  left: 262px;
  position: absolute;
  top: 14px;
  width: 14px;
}
.frame-18 .vector-309-0DtnUk {
  background-color: transparent;
  height: 2px;
  left: 217px;
  position: absolute;
  top: 13px;
  width: 14px;
}
.frame-18 .vector-315-cUHxae {
  background-color: transparent;
  height: 2px;
  left: 227px;
  position: absolute;
  top: 13px;
  width: 14px;
}
.frame-18 .vector-321-BN92eB {
  background-color: transparent;
  height: 2px;
  left: 227px;
  position: absolute;
  top: 13px;
  width: 14px;
}
.frame-18 .vector-HYZlj7 {
  background-color: transparent;
  height: 1px;
  left: 120px;
  position: absolute;
  top: 70px;
  width: 1px;
}
.frame-18 .vector-IA18BV {
  background-color: transparent;
  flex-shrink: 1;
  height: 43px;
  position: relative;
  width: 33px;
}
.frame-18 .vector-K4mQ92 {
  background-color: transparent;
  height: 8px;
  left: 9px;
  position: absolute;
  top: 3px;
  width: 5px;
}
.frame-18 .vector-KMjbQh {
  background-color: transparent;
  flex-shrink: 1;
  height: 19px;
  margin-top: 25px;
  position: relative;
  width: 20px;
}
.frame-18 .vector-LPm9ax {
  background-color: transparent;
  height: 16px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 12px;
}
.frame-18 .vector-XgXSau {
  background-color: transparent;
  flex-shrink: 1;
  height: 38px;
  position: relative;
  width: 38px;
}
.frame-18 .vector-bt51dn {
  background-color: transparent;
  flex-shrink: 1;
  height: 25px;
  margin-top: 26px;
  position: relative;
  width: 24px;
}
.frame-18 .vector-dXBp89 {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 32px;
  margin-bottom: 0.56px;
  margin-left: 323px;
  position: relative;
  width: 45px;
}
.frame-18 .vector-f22ZQ7 {
  background-color: transparent;
  height: 2px;
  left: 3px;
  position: absolute;
  top: 6px;
  width: 11px;
}
.frame-18 .vector-g4m4IO {
  background-color: transparent;
  height: 19px;
  left: 2px;
  position: absolute;
  top: 1px;
  width: 18px;
}
.frame-18 .vector-sWeZuN {
  background-color: transparent;
  height: 1px;
  left: 11px;
  position: absolute;
  top: 6px;
  width: 1px;
}
.frame-18 .vector-tihzPY {
  background-color: transparent;
  flex-shrink: 1;
  height: 54px;
  position: relative;
  width: 40px;
}
.frame-18 .vector-v8FlBH {
  background-color: transparent;
  height: 190px;
  left: 30px;
  position: absolute;
  top: 20px;
  width: 180px;
}
.frame-18 .vector-xsqohN {
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  margin-left: 9px;
  margin-top: 9.42px;
  position: relative;
  width: 16px;
}
.frame-18 .vector-zUQttO {
  background-color: transparent;
  flex-shrink: 1;
  height: 26px;
  margin-top: -0.37px;
  position: relative;
  width: 24px;
}
.frame-18 .x23-DQ9yiG {
  background-color: transparent;
  color: rgba(54,54,54,1.0);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-bottom: 11.0px;
  margin-left: 6px;
  min-height: 17px;
  min-width: 19px;
  opacity: 0.5;
  position: relative;
  text-align: left;
  width: auto;
}
.frame-18 .x24-232-9VdFwH {
  background-color: transparent;
  color: rgba(54,54,54,1.0);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 8px;
  min-height: 17px;
  min-width: 48px;
  opacity: 0.5;
  position: relative;
  text-align: left;
  width: auto;
}
