/* screen - index-landingpage */

.index-landingpage {
  align-items: flex-start;
  background-color: var(--wild-sand);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 4338px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.index-landingpage .anvndare-kan-nu-och-google-play-y1HRxC {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 316px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 419px;
  width: 423px;
}
.index-landingpage .b-logo-3-MJiU2I {
  background-color: transparent;
  height: 34px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 39px;
}
.index-landingpage .bcker-mZdJQv {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 79px;
  margin-top: 11.0px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 70px;
}
.index-landingpage .bcker-ur5K9g {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 34px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 71px;
}
.index-landingpage .bok-0fkISt {
  align-self: center;
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.12px;
  line-height: normal;
  margin-left: 3.0px;
  min-height: 28px;
  min-width: 56px;
  position: relative;
  text-align: left;
  width: auto;
}
.index-landingpage .boktitel-CSkWK8 {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 207px;
  width: 147px;
}
.index-landingpage .boktitel-kFn8TZ {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 207px;
  width: 147px;
}
.index-landingpage .boktitel-xqnctn {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 207px;
  width: 147px;
}
.index-landingpage .boktitel-zSxCxB {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 207px;
  width: 147px;
}
.index-landingpage .bsta-bckerna-at-tivationen-igng-NG5cxJ {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 337px;
  letter-spacing: 0.09px;
  line-height: 52.2px;
  position: absolute;
  text-align: left;
  top: 99px;
  white-space: nowrap;
  width: auto;
}
.index-landingpage .download-from-app-store-y1HRxC {
  background-color: transparent;
  color: var(--white);
  font-family: 'Rubik', Helvetica;
  font-size: 8.3px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 379px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 502px;
  width: 78px;
}
.index-landingpage .download-from-google-play-qECoF8 {
  background-color: transparent;
  color: var(--white);
  font-family: 'Rubik', Helvetica;
  font-size: 8.3px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 63px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  width: 78px;
}
.index-landingpage .du-fr-lyssna-p-g-ett-enda-steg-y1HRxC {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 623px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 1096px;
  width: 225px;
}
.index-landingpage .ellipse-268-UPFDD4 {
  background-color: transparent;
  height: 251px;
  left: 4px;
  position: absolute;
  top: 7px;
  width: 244px;
}
.index-landingpage .ellipse-269-UPFDD4 {
  background-color: transparent;
  height: 258px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 251px;
}
.index-landingpage .ellipse-270-NxCdxi {
  background-color: transparent;
  height: 29px;
  left: 97px;
  position: absolute;
  top: 4px;
  width: 28px;
}
.index-landingpage .ellipse-271-iMNDu3 {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.index-landingpage .ellipse-272-C5aVUb {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.index-landingpage .ellipse-273-KTB0qx {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 46px;
}
.index-landingpage .ellipse-274-BxadYU {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 29px;
}
.index-landingpage .ellipse-275-D19Zuv {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.index-landingpage .ellipse-276-NWuud3 {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.index-landingpage .ellipse-277-Sy4QS9 {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.index-landingpage .ellipse-278-eosm89 {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.index-landingpage .ellipse-279-6SImVZ {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 29px;
}
.index-landingpage .ellipse-280-xx6Pd2 {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.index-landingpage .ellipse-281-Au4xAj {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.index-landingpage .ellipse-282-yMht5P {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.index-landingpage .ellipse-284-vK8XAn {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.index-landingpage .ellipse-302-aevaMB {
  background-color: transparent;
  flex-shrink: 1;
  height: 18px;
  position: relative;
  width: 18px;
}
.index-landingpage .ellipse-303-aevaMB {
  background-color: transparent;
  flex-shrink: 1;
  height: 18px;
  margin-left: 32px;
  position: relative;
  width: 18px;
}
.index-landingpage .ellipse-304-aevaMB {
  background-color: transparent;
  flex-shrink: 1;
  height: 18px;
  margin-left: 32px;
  position: relative;
  width: 18px;
}
.index-landingpage .ellipse-305-aevaMB {
  background-color: transparent;
  flex-shrink: 1;
  height: 18px;
  margin-left: 32px;
  position: relative;
  width: 18px;
}
.index-landingpage .ellipse-306-xaHuzL {
  background-color: transparent;
  flex-shrink: 1;
  height: 69px;
  margin-right: -2502px;
  margin-top: -69px;
  position: relative;
  transform: rotate(-180deg);
  width: 69px;
}
.index-landingpage .flex-col-0PZcXW {
  align-items: flex-end;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 47px;
  min-height: 335px;
  position: relative;
  width: 210px;
}
.index-landingpage .flex-col-3ibpXH {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 8px;
  margin-top: 54.0px;
  min-height: 76px;
  position: relative;
  width: 30px;
}
.index-landingpage .flex-col-BV7yT7 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 8px;
  margin-top: 54.0px;
  min-height: 76px;
  position: relative;
  width: 28px;
}
.index-landingpage .flex-col-C61RwL {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 21px;
  min-height: 3469px;
  position: relative;
  width: 1440px;
}
.index-landingpage .flex-col-EBXCax {
  align-items: flex-end;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 15.0px;
  margin-left: 68px;
  min-height: 195px;
  position: relative;
  width: 125px;
}
.index-landingpage .flex-col-dXBp89 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 29px;
  margin-left: 77px;
  min-height: 497px;
  position: relative;
  width: 521px;
}
.index-landingpage .flex-col-e9xijB {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 11px;
  margin-top: 54.0px;
  min-height: 76px;
  position: relative;
  width: 28px;
}
.index-landingpage .flex-col-k7oEAH {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 15.0px;
  margin-left: 12px;
  min-height: 125px;
  position: relative;
  width: 32px;
}
.index-landingpage .flex-col-weSztY {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 6px;
  margin-top: 45.0px;
  min-height: 85px;
  position: relative;
  width: 46px;
}
.index-landingpage .flex-row-0xy0vn {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 299px;
  justify-content: flex-start;
  margin-right: 62.0px;
  margin-top: 94px;
  min-width: 928px;
  position: relative;
  width: auto;
}
.index-landingpage .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 660px;
  justify-content: flex-start;
  margin-top: 24px;
  min-width: 1415px;
  position: relative;
  width: auto;
}
.index-landingpage .flex-row-dXBp89 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 660px;
  justify-content: flex-start;
  margin-left: 0px;
  min-width: 607px;
  position: relative;
  width: auto;
}
.index-landingpage .fortstt-motione-rande-kapitel-i-y1HRxC {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 932px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 1100px;
  width: 225px;
}
.index-landingpage .group-330-xzoWaf {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  min-width: 604px;
  position: relative;
  width: auto;
}
.index-landingpage .group-332-52Wjwg {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 423px;
  min-width: 594px;
  position: absolute;
  top: 213px;
  width: auto;
}
.index-landingpage .group-367-4biOOQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  position: relative;
  width: 66px;
}
.index-landingpage .group-367-9EdFEp {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  position: relative;
  width: 66px;
}
.index-landingpage .group-367-9nHltY {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  position: relative;
  width: 66px;
}
.index-landingpage .group-367-yMZcRt {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  position: relative;
  width: 66px;
}
.index-landingpage .group-368-4biOOQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-left: 8px;
  position: relative;
  width: 163px;
}
.index-landingpage .group-368-9EdFEp {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-left: 8px;
  position: relative;
  width: 144px;
}
.index-landingpage .group-368-9nHltY {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-left: 8px;
  position: relative;
  width: 144px;
}
.index-landingpage .group-368-yMZcRt {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-left: 8px;
  position: relative;
  width: 153px;
}
.index-landingpage .group-372-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 34px;
  margin-left: 506.0px;
  margin-top: 9px;
  position: relative;
  width: 250px;
}
.index-landingpage .group-372-O8QDUN {
  background-color: transparent;
  border-radius: 15.833860397338867px;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 214px;
}
.index-landingpage .group-404-3lZX4d {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 258px;
  justify-content: flex-start;
  left: 0px;
  min-width: 691px;
  padding: 0 0.0px;
  position: absolute;
  top: 0px;
  width: auto;
}
.index-landingpage .group-405-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 34px;
  margin-top: 52px;
  position: relative;
  width: 250px;
}
.index-landingpage .group-406-XAvKzU {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 18px;
  justify-content: flex-start;
  margin-right: 4px;
  margin-top: 109px;
  min-width: 168px;
  position: relative;
  width: auto;
}
.index-landingpage .group-415-08F3je {
  background-color: transparent;
  flex-shrink: 1;
  height: 368px;
  position: relative;
  width: 254px;
}
.index-landingpage .group-415-4K4gxU {
  background-color: transparent;
  flex-shrink: 1;
  height: 368px;
  position: relative;
  width: 254px;
}
.index-landingpage .group-415-DxRCp7 {
  background-color: transparent;
  flex-shrink: 1;
  height: 368px;
  position: relative;
  width: 261px;
}
.index-landingpage .group-415-YKgF6c {
  background-color: transparent;
  flex-shrink: 1;
  height: 368px;
  position: relative;
  width: 254px;
}
.index-landingpage .group-416-NG5cxJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 368px;
  justify-content: flex-start;
  left: 1028px;
  min-width: 248px;
  position: absolute;
  top: 219px;
  width: auto;
}
.index-landingpage .group-417-NG5cxJ {
  align-items: flex-end;
  background-color: transparent;
  background-image: url(../img/ellipse-306@2x.svg);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 69px;
  justify-content: flex-start;
  left: 120px;
  min-width: 69px;
  padding: 20.0px 23.8px;
  position: absolute;
  top: 371px;
  width: auto;
}
.index-landingpage .group-418-NG5cxJ {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 1251px;
  min-height: 69px;
  position: absolute;
  top: 371px;
  transform: rotate(180deg);
  width: 69px;
}
.index-landingpage .group-419-EMghNE {
  background-color: transparent;
  flex-shrink: 1;
  height: 31px;
  position: relative;
  width: 216px;
}
.index-landingpage .group-420-NG5cxJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 31px;
  justify-content: flex-start;
  left: 613px;
  min-width: 214px;
  position: absolute;
  top: 657px;
  width: auto;
}
.index-landingpage .group-422-52Wjwg {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 38px;
  justify-content: flex-start;
  left: 670px;
  min-width: 100px;
  position: absolute;
  top: 317px;
  width: auto;
}
.index-landingpage .group-423-YgSmWd {
  background-color: transparent;
  border-radius: 15.833860397338867px;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 214px;
}
.index-landingpage .group-435-y1HRxC {
  background-color: transparent;
  height: 31px;
  left: 594px;
  position: absolute;
  top: 1257px;
  width: 219px;
}
.index-landingpage .group-436-NG5cxJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 368px;
  justify-content: flex-start;
  left: 745px;
  min-width: 257px;
  position: absolute;
  top: 219px;
  width: auto;
}
.index-landingpage .group-437-GyJUNH {
  background-color: transparent;
  flex-shrink: 1;
  height: 299px;
  position: relative;
  width: 194px;
}
.index-landingpage .group-438-NG5cxJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 368px;
  justify-content: flex-start;
  left: 177px;
  min-width: 248px;
  position: absolute;
  top: 219px;
  width: auto;
}
.index-landingpage .group-446-y1HRxC {
  background-color: transparent;
  height: 407px;
  left: 880px;
  position: absolute;
  top: 129px;
  width: 234px;
}
.index-landingpage .group-451-oRO2l7 {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 407px;
  margin-bottom: 59.0px;
  margin-left: 0px;
  position: relative;
  width: 346px;
}
.index-landingpage .group-461-NG5cxJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 368px;
  justify-content: flex-start;
  left: 461px;
  min-width: 248px;
  position: absolute;
  top: 219px;
  width: auto;
}
.index-landingpage .group-470-CSkWK8 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 23px;
  justify-content: flex-start;
  left: 22px;
  min-width: 216px;
  position: absolute;
  top: 325px;
  width: auto;
}
.index-landingpage .group-470-kFn8TZ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 23px;
  justify-content: flex-start;
  left: 22px;
  min-width: 235px;
  position: absolute;
  top: 325px;
  width: auto;
}
.index-landingpage .group-470-xqnctn {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 23px;
  justify-content: flex-start;
  left: 22px;
  min-width: 216px;
  position: absolute;
  top: 325px;
  width: auto;
}
.index-landingpage .group-470-zSxCxB {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 23px;
  justify-content: flex-start;
  left: 22px;
  min-width: 225px;
  position: absolute;
  top: 325px;
  width: auto;
}
.index-landingpage .group-511-y1HRxC {
  background-color: transparent;
  background-image: url(../img/vector-4@2x.svg);
  background-size: 100% 100%;
  height: 27px;
  left: 330px;
  position: absolute;
  top: 499px;
  width: 23px;
}
.index-landingpage .group-512-DZn6aA {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 172px;
}
.index-landingpage .group-513-y1HRxC {
  background-color: transparent;
  height: 46px;
  left: 502px;
  position: absolute;
  top: 490px;
  width: 170px;
}
.index-landingpage .group-584-oRO2l7 {
  -webkit-backdrop-filter: blur(18px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(18px) brightness(100%);
  background-color: rgba(115,115,115,0.25);
  border-radius: 10.5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 660px;
  justify-content: flex-start;
  margin-left: 30px;
  min-width: 21px;
  padding: 2.6px 2px;
  position: relative;
  width: auto;
}
.index-landingpage .group-BVrl0x {
  background-color: transparent;
  background-image: url(../img/vector-2@2x.svg);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 35px;
  margin-bottom: 0.17px;
  margin-left: 27px;
  position: relative;
  width: 35px;
}
.index-landingpage .hem-mZdJQv {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-bottom: 2px;
  margin-left: 124px;
  min-height: 24px;
  min-width: 38px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.index-landingpage .hem-ur5K9g {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 71px;
}
.index-landingpage .hitta-en-bok-at-motionera-till-IpPAUl {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 7px;
  white-space: nowrap;
  width: auto;
}
.index-landingpage .kapitel-NxCdxi {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.12px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 108px;
}
.index-landingpage .kom-ut-till-en-telse-varje-dag-y1HRxC {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 310px;
  letter-spacing: 0.30px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 150px;
  width: 505px;
}
.index-landingpage .kontakt-mZdJQv {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 58px;
  margin-top: 11.0px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 149px;
}
.index-landingpage .logga-in-U1iV6o {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 19px;
  position: relative;
  text-align: center;
  width: 176px;
}
.index-landingpage .logga-in-ur5K9g {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 34px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 71px;
}
.index-landingpage .loggain-mZdJQv {
  align-items: center;
  background-color: transparent;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 33px;
  justify-content: flex-start;
  margin-bottom: 1px;
  margin-left: 174px;
  overflow: hidden;
  position: relative;
  width: 174px;
}
.index-landingpage .loggo-mZdJQv {
  background-color: transparent;
  flex-shrink: 1;
  height: 45px;
  position: relative;
  width: 190px;
}
.index-landingpage .logo2bookstep-1-MJiU2I {
  background-color: transparent;
  height: 28px;
  left: 10px;
  position: absolute;
  top: 8px;
  width: 33px;
}
.index-landingpage .lorem-ipsum-dol-iquam-convallis-CSkWK8 {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 240px;
  width: 219px;
}
.index-landingpage .lorem-ipsum-dol-iquam-convallis-kFn8TZ {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 240px;
  width: 219px;
}
.index-landingpage .lorem-ipsum-dol-iquam-convallis-xqnctn {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 240px;
  width: 219px;
}
.index-landingpage .lorem-ipsum-dol-iquam-convallis-zSxCxB {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 240px;
  width: 219px;
}
.index-landingpage .ls-upp-ljudbcke-tivationen-igng-0PZcXW {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.12px;
  line-height: normal;
  min-height: 29px;
  position: relative;
  text-align: left;
  width: 483px;
}
.index-landingpage .ls-upp-ljudbcke-tivationen-igng-0xy0vn {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  letter-spacing: 0.09px;
  line-height: 52.2px;
  margin-left: 91.0px;
  margin-top: 120px;
  min-height: 29px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 1131px;
}
.index-landingpage .lyssna-p-frsta-kapitelet-y1HRxC {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 623px;
  letter-spacing: 0.12px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1032px;
  width: 254px;
}
.index-landingpage .menubar-C61RwL {
  align-items: flex-end;
  background-color: var(--wild-sand);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 164px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 59px 30px;
  position: relative;
  width: auto;
}
.index-landingpage .mer-om-hur-det-funkar-YgSmWd {
  background-color: transparent;
  height: auto;
  left: 31px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 7px;
  white-space: nowrap;
  width: 188px;
}
.index-landingpage .motionera-fr-att-lsa-upp-mer-y1HRxC {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 929px;
  letter-spacing: 0.12px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1037px;
  width: 260px;
}
.index-landingpage .om-oss-mZdJQv {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-bottom: 2px;
  margin-left: 46px;
  min-height: 24px;
  min-width: 59px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.index-landingpage .om-oss-ur5K9g {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 34px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 71px;
}
.index-landingpage .ookstep-MJiU2I {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -0px;
  width: 155px;
}
.index-landingpage .overlap-group-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 1392px;
  position: relative;
  width: 1440px;
}
.index-landingpage .overlap-group1-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 884px;
  margin-top: 119px;
  position: relative;
  width: 1440px;
}
.index-landingpage .overlap-group10-FEI5yU {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  position: relative;
  width: 28px;
}
.index-landingpage .overlap-group11-FEI5yU {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-top: 18px;
  position: relative;
  width: 28px;
}
.index-landingpage .overlap-group12-FEI5yU {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-top: 20px;
  position: relative;
  width: 32px;
}
.index-landingpage .overlap-group13-tylIWM {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  position: relative;
  width: 29px;
}
.index-landingpage .overlap-group14-tylIWM {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-top: 18px;
  position: relative;
  width: 30px;
}
.index-landingpage .overlap-group15-90xifb {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  position: relative;
  width: 28px;
}
.index-landingpage .overlap-group16-90xifb {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-top: 18px;
  position: relative;
  width: 28px;
}
.index-landingpage .overlap-group17-vtBsYh {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  position: relative;
  width: 28px;
}
.index-landingpage .overlap-group18-vtBsYh {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-top: 18px;
  position: relative;
  width: 28px;
}
.index-landingpage .overlap-group2-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 489px;
  margin-top: 0px;
  position: relative;
  width: 1440px;
}
.index-landingpage .overlap-group3-GyJUNH {
  background-color: transparent;
  flex-shrink: 1;
  height: 258px;
  margin-bottom: 1.0px;
  margin-left: 19px;
  position: relative;
  width: 715px;
}
.index-landingpage .overlap-group4-EBXCax {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 258px;
  margin-bottom: -0.0px;
  position: relative;
  width: 251px;
}
.index-landingpage .overlap-group5-0fkISt {
  background-color: transparent;
  flex-shrink: 1;
  height: 33px;
  margin-top: 37px;
  position: relative;
  width: 125px;
}
.index-landingpage .overlap-group6-0fkISt {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-top: 18px;
  position: relative;
  width: 28px;
}
.index-landingpage .overlap-group7-0fkISt {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-top: 20px;
  position: relative;
  width: 28px;
}
.index-landingpage .overlap-group8-z9iB73 {
  background-color: transparent;
  flex-shrink: 1;
  height: 47px;
  position: relative;
  width: 46px;
}
.index-landingpage .overlap-group9-z9iB73 {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-left: 1.0px;
  margin-top: 8px;
  position: relative;
  width: 29px;
}
.index-landingpage .prova-bookstep-Pog5F0 {
  background-color: transparent;
  color: var(--white);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 19px;
  position: relative;
  text-align: center;
  width: 176px;
}
.index-landingpage .rectangle-1297-jxkp1j {
  background-color: rgba(86,86,86,1.0);
  border-radius: 8.542372703552246px;
  flex-shrink: 1;
  height: 83px;
  position: relative;
  width: 17px;
}
.index-landingpage .rectangle-374-y1HRxC {
  background-color: rgba(235,235,235,1.0);
  height: 700px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.index-landingpage .rectangle-375-y1HRxC {
  background-color: rgba(221,221,221,1.0);
  height: 700px;
  left: 0px;
  position: absolute;
  top: 692px;
  width: 1440px;
}
.index-landingpage .rectangle-384-52Wjwg {
  background-color: rgba(30,30,30,1.0);
  height: 489px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.index-landingpage .rectangle-422-7khBKL {
  background-color: var(--mist-gray);
  border-radius: 11.549991607666016px;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 64px;
}
.index-landingpage .rectangle-422-jgCg6v {
  background-color: var(--mist-gray);
  border-radius: 11.549991607666016px;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 64px;
}
.index-landingpage .rectangle-422-pHiq64 {
  background-color: var(--mist-gray);
  border-radius: 11.549991607666016px;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 64px;
}
.index-landingpage .rectangle-422-x6x1FN {
  background-color: var(--mist-gray);
  border-radius: 11.549991607666016px;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 64px;
}
.index-landingpage .rectangle-423-2fxIgg {
  background-color: transparent;
  border-radius: 11.549991607666016px;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 134px;
}
.index-landingpage .rectangle-423-FBgxkz {
  background-color: transparent;
  border-radius: 11.549991607666016px;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 134px;
}
.index-landingpage .rectangle-423-IpPAUl {
  background-color: transparent;
  border: 0.9px solid var(--black);
  border-radius: 17.188352584838867px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 248px;
}
.index-landingpage .rectangle-423-Oa56dk {
  background-color: transparent;
  border: 0.9px solid var(--black);
  border-radius: 17.188352584838867px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 248px;
}
.index-landingpage .rectangle-423-Q0QhHD {
  background-color: transparent;
  border-radius: 11.549991607666016px;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 135px;
}
.index-landingpage .rectangle-423-nq1K02 {
  background-color: transparent;
  border-radius: 11.549991607666016px;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 137px;
}
.index-landingpage .rectangle-432-oRO2l7 {
  background-color: rgba(217,217,217,1.0);
  flex-shrink: 1;
  height: 199px;
  margin-top: 97px;
  position: relative;
  width: 210px;
}
.index-landingpage .rectangle-433-XAvKzU {
  background-color: rgba(227,227,227,1.0);
  flex-shrink: 1;
  height: 208px;
  position: relative;
  width: 210px;
}
.index-landingpage .rectangle-434-dXBp89 {
  background-color: var(--mist-gray);
  flex-shrink: 1;
  height: 199px;
  margin-top: 97px;
  position: relative;
  width: 210px;
}
.index-landingpage .rectangle-435-NG5cxJ {
  background-color: rgba(238,238,238,1.0);
  height: 884px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.index-landingpage .rectangle-436-CSkWK8 {
  background-color: var(--hint-of-red);
  box-shadow: 0px 4.238807201385498px 20.34627342224121px rgba(0,0,0,0.15);;
  height: 368px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.index-landingpage .rectangle-436-kFn8TZ {
  background-color: var(--hint-of-red);
  box-shadow: 0px 4.238807201385498px 20.34627342224121px rgba(0,0,0,0.15);;
  height: 368px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.index-landingpage .rectangle-436-xqnctn {
  background-color: var(--hint-of-red);
  box-shadow: 0px 4.238807201385498px 20.34627342224121px rgba(0,0,0,0.15);;
  height: 368px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.index-landingpage .rectangle-436-zSxCxB {
  background-color: var(--hint-of-red);
  box-shadow: 0px 4.238807201385498px 20.34627342224121px rgba(0,0,0,0.15);;
  height: 368px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.index-landingpage .rectangle-437-CSkWK8 {
  background-color: rgba(208,208,208,1.0);
  height: 186px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.index-landingpage .rectangle-437-kFn8TZ {
  background-color: rgba(85,85,85,1.0);
  height: 186px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.index-landingpage .rectangle-437-xqnctn {
  background-color: rgba(172,172,172,1.0);
  height: 186px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.index-landingpage .rectangle-437-zSxCxB {
  background-color: rgba(127,127,127,1.0);
  height: 186px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.index-landingpage .rectangle-440-CSkWK8 {
  background-color: transparent;
  height: 40px;
  left: 176px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.index-landingpage .rectangle-440-NG5cxJ {
  background-color: transparent;
  height: 40px;
  left: 921px;
  position: absolute;
  top: 219px;
  width: 72px;
}
.index-landingpage .rectangle-440-xqnctn {
  background-color: transparent;
  height: 40px;
  left: 176px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.index-landingpage .rectangle-440-zSxCxB {
  background-color: transparent;
  height: 40px;
  left: 176px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.index-landingpage .rectangle-556-qECoF8 {
  background-color: rgba(93,93,93,1.0);
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 170px;
}
.index-landingpage .rectangle-556-y1HRxC {
  background-color: rgba(93,93,93,1.0);
  height: 46px;
  left: 316px;
  position: absolute;
  top: 490px;
  width: 170px;
}
.index-landingpage .registrera-mZdJQv {
  align-items: center;
  background-color: var(--fuscous-gray);
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 33px;
  justify-content: flex-start;
  margin-bottom: 2px;
  margin-left: 9px;
  overflow: hidden;
  position: relative;
  width: 174px;
}
.index-landingpage .s-funkar-bookstep-y1HRxC {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 555px;
  letter-spacing: 0.09px;
  line-height: 52.2px;
  position: absolute;
  text-align: left;
  top: 796px;
  white-space: nowrap;
  width: 358px;
}
.index-landingpage .se-all-30-000-bcker-O8QDUN {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 41px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.index-landingpage .skapa-ett-konto-gratis-Oa56dk {
  background-color: transparent;
  height: auto;
  left: 51px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: auto;
}
.index-landingpage .skapa-konto-gratis-ur5K9g {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 51px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 154px;
}
.index-landingpage .span0-LiZz4X {
  color: rgba(255,255,255,1.0);
  font-style: normal;
}
.index-landingpage .span0-OwLjL6 {
  color: rgba(255,255,255,1.0);
  font-style: normal;
}
.index-landingpage .span1-LiZz4X {
  color: rgba(255,255,255,1.0);
  font-style: normal;
  font-weight: 500;
}
.index-landingpage .span1-OwLjL6 {
  color: rgba(255,255,255,1.0);
  font-style: normal;
  font-weight: 500;
}
.index-landingpage .spara-till-favoriter-2fxIgg {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 134px;
}
.index-landingpage .spara-till-favoriter-FBgxkz {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 155px;
}
.index-landingpage .spara-till-favoriter-Q0QhHD {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 134px;
}
.index-landingpage .spara-till-favoriter-nq1K02 {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 143px;
}
.index-landingpage .star-1-CSkWK8 {
  background-color: transparent;
  height: 11px;
  left: 195px;
  position: absolute;
  top: 14px;
  width: 11px;
}
.index-landingpage .star-1-NG5cxJ {
  background-color: transparent;
  height: 11px;
  left: 940px;
  position: absolute;
  top: 233px;
  width: 11px;
}
.index-landingpage .star-1-xqnctn {
  background-color: transparent;
  height: 10px;
  left: 195px;
  position: absolute;
  top: 14px;
  width: 11px;
}
.index-landingpage .star-1-zSxCxB {
  background-color: transparent;
  height: 11px;
  left: 195px;
  position: absolute;
  top: 14px;
  width: 11px;
}
.index-landingpage .the-clean-startup-3lZX4d {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 423px;
  letter-spacing: 0.04px;
  line-height: 35.8px;
  position: absolute;
  text-align: left;
  top: 42px;
  white-space: nowrap;
  width: 292px;
}
.index-landingpage .till-nsta-kapitel-UPFDD4 {
  background-color: transparent;
  height: auto;
  left: 62px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 145px;
  white-space: nowrap;
  width: 130px;
}
.index-landingpage .vector-240-CSkWK8 {
  background-color: transparent;
  height: 186px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 248px;
}
.index-landingpage .vector-240-kFn8TZ {
  background-color: transparent;
  height: 186px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 248px;
}
.index-landingpage .vector-240-xqnctn {
  background-color: transparent;
  height: 186px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 248px;
}
.index-landingpage .vector-240-zSxCxB {
  background-color: transparent;
  height: 186px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 247px;
}
.index-landingpage .vector-241-CSkWK8 {
  background-color: transparent;
  height: 186px;
  left: -1px;
  position: absolute;
  top: 0px;
  width: 249px;
}
.index-landingpage .vector-241-kFn8TZ {
  background-color: transparent;
  height: 186px;
  left: -1px;
  position: absolute;
  top: 0px;
  width: 249px;
}
.index-landingpage .vector-241-xqnctn {
  background-color: transparent;
  height: 186px;
  left: -1px;
  position: absolute;
  top: 0px;
  width: 249px;
}
.index-landingpage .vector-241-zSxCxB {
  background-color: transparent;
  height: 186px;
  left: -0px;
  position: absolute;
  top: 0px;
  width: 248px;
}
.index-landingpage .vector-242-CKOi2Z {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  position: relative;
  width: 17px;
}
.index-landingpage .vector-242-xaHuzL {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-right: -2478.18px;
  margin-top: 20px;
  position: relative;
  transform: rotate(-180deg);
  width: 17px;
}
.index-landingpage .vector-249-bgCBTl {
  background-color: transparent;
  height: 399px;
  left: -1px;
  position: absolute;
  top: 3px;
  width: 345px;
}
.index-landingpage .vector-249-mXv29L {
  background-color: transparent;
  height: 399px;
  left: -1px;
  position: absolute;
  top: 3px;
  width: 234px;
}
.index-landingpage .vector-249-tCgDPt {
  background-color: transparent;
  height: 293px;
  left: -1px;
  position: absolute;
  top: 2px;
  width: 194px;
}
.index-landingpage .vector-250-bgCBTl {
  background-color: transparent;
  height: 399px;
  left: -1px;
  position: absolute;
  top: 3px;
  width: 346px;
}
.index-landingpage .vector-250-mXv29L {
  background-color: transparent;
  height: 399px;
  left: -1px;
  position: absolute;
  top: 3px;
  width: 234px;
}
.index-landingpage .vector-250-tCgDPt {
  background-color: transparent;
  height: 293px;
  left: -1px;
  position: absolute;
  top: 2px;
  width: 194px;
}
.index-landingpage .vector-BVrl0x {
  background-color: transparent;
  flex-shrink: 1;
  height: 38px;
  position: relative;
  width: 38px;
}
.index-landingpage .vector-DZn6aA {
  background-color: transparent;
  height: 26px;
  left: 16px;
  position: absolute;
  top: 11px;
  width: 24px;
}
.index-landingpage .vlj-7khBKL {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 31px;
}
.index-landingpage .vlj-en-av-books-ett-sundare-liv-y1HRxC {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 331px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 1076px;
  width: 225px;
}
.index-landingpage .vlj-en-bok-y1HRxC {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 329px;
  letter-spacing: 0.12px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1036px;
  width: 254px;
}
.index-landingpage .vlj-jgCg6v {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 36px;
}
.index-landingpage .vlj-pHiq64 {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 33px;
}
.index-landingpage .vlj-x6x1FN {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 31px;
}
.index-landingpage .x01-y1HRxC {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik Mono One', Helvetica;
  font-size: 98px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 319px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 908px;
  width: 180px;
}
.index-landingpage .x02-y1HRxC {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik Mono One', Helvetica;
  font-size: 98px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 613px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 908px;
  width: 180px;
}
.index-landingpage .x03-y1HRxC {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik Mono One', Helvetica;
  font-size: 98px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 920px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 908px;
  width: 180px;
}
.index-landingpage .x1-NxCdxi {
  background-color: transparent;
  height: auto;
  left: 106px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: 11px;
}
.index-landingpage .x10-Sy4QS9 {
  background-color: transparent;
  height: auto;
  left: 3px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 26px;
}
.index-landingpage .x11-6SImVZ {
  background-color: transparent;
  height: auto;
  left: 5px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 25px;
}
.index-landingpage .x12-Au4xAj {
  background-color: transparent;
  height: auto;
  left: 3px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 23px;
}
.index-landingpage .x13-yMht5P {
  background-color: transparent;
  height: auto;
  left: 3px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 23px;
}
.index-landingpage .x14-vK8XAn {
  background-color: transparent;
  height: auto;
  left: 3px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 29px;
}
.index-landingpage .x2-iMNDu3 {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 14px;
}
.index-landingpage .x2500-steg-UPFDD4 {
  background-color: transparent;
  color: rgba(39,39,39,1.0);
  font-family: 'Rubik', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 40px;
  letter-spacing: 0.09px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 95px;
  width: 193px;
}
.index-landingpage .x3-C5aVUb {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 14px;
}
.index-landingpage .x4-KTB0qx {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 11px;
  letter-spacing: 0.09px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 2px;
  width: 22px;
}
.index-landingpage .x5-BxadYU {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: 14px;
}
.index-landingpage .x6-D19Zuv {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 14px;
}
.index-landingpage .x7-NWuud3 {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 12px;
}
.index-landingpage .x77-CSkWK8 {
  background-color: transparent;
  height: auto;
  left: 211px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: 22px;
}
.index-landingpage .x77-NG5cxJ {
  background-color: transparent;
  height: auto;
  left: 956px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 228px;
  white-space: nowrap;
  width: 22px;
}
.index-landingpage .x77-xqnctn {
  background-color: transparent;
  height: auto;
  left: 211px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: 22px;
}
.index-landingpage .x77-zSxCxB {
  background-color: transparent;
  height: auto;
  left: 211px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: 22px;
}
.index-landingpage .x8-eosm89 {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 15px;
}
.index-landingpage .x9-xx6Pd2 {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 14px;
}
