/* screen - loggedinlandingpage */

.loggedinlandingpage {
  align-items: flex-end;
  background-color: var(--wild-sand);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 2752px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.loggedinlandingpage .anvndare-kan-nu-och-google-play-y1HRxC {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 313px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 1110px;
  width: 423px;
}
.loggedinlandingpage .anvndarnamn-i10641411067193-HCfW0l {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-top: 1.42px;
  min-height: 24px;
  min-width: 118px;
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.loggedinlandingpage .b-logo-3-58J6IH {
  background-color: transparent;
  height: 34px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 39px;
}
.loggedinlandingpage .bcker-Exap6x {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 34px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 71px;
}
.loggedinlandingpage .bcker-i10641411067179-bxgaHT {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 80px;
  margin-top: 11.0px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 70px;
}
.loggedinlandingpage .blddra-bland-ljudbcker-BEAJgY {
  background-color: transparent;
  color: var(--white);
  font-family: 'Rubik', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 41px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 7px;
  white-space: nowrap;
  width: auto;
}
.loggedinlandingpage .bok-QxAZpS {
  align-self: center;
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.12px;
  line-height: normal;
  margin-left: 3.0px;
  min-height: 28px;
  min-width: 56px;
  position: relative;
  text-align: left;
  width: auto;
}
.loggedinlandingpage .boktitel-OFFxje {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 207px;
  width: 147px;
}
.loggedinlandingpage .boktitel-SWMbei {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 207px;
  width: 147px;
}
.loggedinlandingpage .boktitel-kEziSJ {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 207px;
  width: 147px;
}
.loggedinlandingpage .boktitel-pe6IC7 {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 207px;
  width: 147px;
}
.loggedinlandingpage .bsta-bckerna-at-tivationen-igng-y1HRxC {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 337px;
  letter-spacing: 0.09px;
  line-height: 52.2px;
  position: absolute;
  text-align: left;
  top: 55px;
  white-space: nowrap;
  width: auto;
}
.loggedinlandingpage .bxbx-user-LV8roB {
  background-color: transparent;
  border-radius: 50px;
  flex-shrink: 1;
  height: 23px;
  overflow: hidden;
  position: relative;
  width: 23px;
}
.loggedinlandingpage .download-from-app-store-pGgdA0 {
  background-color: transparent;
  color: var(--white);
  font-family: 'Rubik', Helvetica;
  font-size: 8.3px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 63px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  width: 78px;
}
.loggedinlandingpage .download-from-google-play-qECoF8 {
  background-color: transparent;
  color: var(--white);
  font-family: 'Rubik', Helvetica;
  font-size: 8.3px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 63px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  width: 78px;
}
.loggedinlandingpage .ellipse-268-Pximis {
  background-color: transparent;
  height: 251px;
  left: 4px;
  position: absolute;
  top: 7px;
  width: 244px;
}
.loggedinlandingpage .ellipse-269-Pximis {
  background-color: transparent;
  height: 258px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 251px;
}
.loggedinlandingpage .ellipse-270-VTibhF {
  background-color: transparent;
  height: 29px;
  left: 97px;
  position: absolute;
  top: 4px;
  width: 28px;
}
.loggedinlandingpage .ellipse-271-LnqgvM {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.loggedinlandingpage .ellipse-272-MMK6dC {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.loggedinlandingpage .ellipse-273-2v5bt9 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 46px;
}
.loggedinlandingpage .ellipse-274-46luUL {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 29px;
}
.loggedinlandingpage .ellipse-275-NVskOR {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.loggedinlandingpage .ellipse-276-b4ydLM {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.loggedinlandingpage .ellipse-277-qvEZ6z {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.loggedinlandingpage .ellipse-278-WI420k {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.loggedinlandingpage .ellipse-279-dezQy7 {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 29px;
}
.loggedinlandingpage .ellipse-280-8deexx {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.loggedinlandingpage .ellipse-281-XJDx09 {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.loggedinlandingpage .ellipse-282-t1e2HG {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.loggedinlandingpage .ellipse-284-Df07Ya {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.loggedinlandingpage .ellipse-306-0kxLof {
  background-color: transparent;
  flex-shrink: 1;
  height: 69px;
  margin-right: -2502px;
  margin-top: -69px;
  position: relative;
  transform: rotate(-180deg);
  width: 69px;
}
.loggedinlandingpage .flex-col-20zDb8 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 8px;
  margin-top: 54.0px;
  min-height: 76px;
  position: relative;
  width: 28px;
}
.loggedinlandingpage .flex-col-4fcjjz {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 8px;
  margin-top: 54.0px;
  min-height: 76px;
  position: relative;
  width: 30px;
}
.loggedinlandingpage .flex-col-AN6EZm {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 6px;
  margin-top: 45.0px;
  min-height: 85px;
  position: relative;
  width: 46px;
}
.loggedinlandingpage .flex-col-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 21px;
  min-height: 3060px;
  position: relative;
  width: 1440px;
}
.loggedinlandingpage .flex-col-dXBp89 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 55px;
  min-height: 423px;
  position: relative;
  width: 715px;
}
.loggedinlandingpage .flex-col-r29KrZ {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 15.0px;
  margin-left: 12px;
  min-height: 125px;
  position: relative;
  width: 32px;
}
.loggedinlandingpage .flex-col-xlYpxs {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 11px;
  margin-top: 54.0px;
  min-height: 76px;
  position: relative;
  width: 28px;
}
.loggedinlandingpage .flex-col-yTTPoH {
  align-items: flex-end;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 15.0px;
  margin-left: 68px;
  min-height: 195px;
  position: relative;
  width: 125px;
}
.loggedinlandingpage .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 660px;
  justify-content: flex-start;
  margin-right: 25px;
  margin-top: 24px;
  min-width: 1052px;
  position: relative;
  width: auto;
}
.loggedinlandingpage .group-330-eSLabF {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  min-width: 604px;
  position: relative;
  width: auto;
}
.loggedinlandingpage .group-332-NG5cxJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 423px;
  min-width: 594px;
  position: absolute;
  top: 213px;
  width: auto;
}
.loggedinlandingpage .group-367-9UKcKG {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  position: relative;
  width: 66px;
}
.loggedinlandingpage .group-367-SZqm76 {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  position: relative;
  width: 66px;
}
.loggedinlandingpage .group-367-SmeyD0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  position: relative;
  width: 66px;
}
.loggedinlandingpage .group-367-kGrCwq {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  position: relative;
  width: 66px;
}
.loggedinlandingpage .group-368-9UKcKG {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-left: 8px;
  position: relative;
  width: 144px;
}
.loggedinlandingpage .group-368-SZqm76 {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-left: 8px;
  position: relative;
  width: 163px;
}
.loggedinlandingpage .group-368-SmeyD0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-left: 8px;
  position: relative;
  width: 153px;
}
.loggedinlandingpage .group-368-kGrCwq {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-left: 8px;
  position: relative;
  width: 144px;
}
.loggedinlandingpage .group-372-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 34px;
  margin-left: 1.0px;
  margin-top: 22px;
  position: relative;
  width: 250px;
}
.loggedinlandingpage .group-372-EiWWVS {
  background-color: transparent;
  border-radius: 15.833860397338867px;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 214px;
}
.loggedinlandingpage .group-404-BxCq5y {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 258px;
  justify-content: flex-start;
  left: 0px;
  min-width: 691px;
  padding: 0 0.0px;
  position: absolute;
  top: 0px;
  width: auto;
}
.loggedinlandingpage .group-415-9MUGfM {
  background-color: transparent;
  flex-shrink: 1;
  height: 368px;
  position: relative;
  width: 254px;
}
.loggedinlandingpage .group-415-JcjlTE {
  background-color: transparent;
  flex-shrink: 1;
  height: 368px;
  position: relative;
  width: 254px;
}
.loggedinlandingpage .group-415-RnBPDd {
  background-color: transparent;
  flex-shrink: 1;
  height: 368px;
  position: relative;
  width: 254px;
}
.loggedinlandingpage .group-415-Yyx2YQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 368px;
  position: relative;
  width: 261px;
}
.loggedinlandingpage .group-416-y1HRxC {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 368px;
  justify-content: flex-start;
  left: 1028px;
  min-width: 248px;
  position: absolute;
  top: 175px;
  width: auto;
}
.loggedinlandingpage .group-417-y1HRxC {
  align-items: flex-end;
  background-color: transparent;
  background-image: url(../img/ellipse-306@2x.svg);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 69px;
  justify-content: flex-start;
  left: 120px;
  min-width: 69px;
  padding: 20.0px 23.8px;
  position: absolute;
  top: 327px;
  width: auto;
}
.loggedinlandingpage .group-418-y1HRxC {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 1251px;
  min-height: 69px;
  position: absolute;
  top: 327px;
  transform: rotate(180deg);
  width: 69px;
}
.loggedinlandingpage .group-419-hexRxy {
  background-color: transparent;
  flex-shrink: 1;
  height: 31px;
  position: relative;
  width: 216px;
}
.loggedinlandingpage .group-420-y1HRxC {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 31px;
  justify-content: flex-start;
  left: 613px;
  min-width: 214px;
  position: absolute;
  top: 613px;
  width: auto;
}
.loggedinlandingpage .group-422-NG5cxJ {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 38px;
  justify-content: flex-start;
  left: 670px;
  min-width: 100px;
  position: absolute;
  top: 314px;
  width: auto;
}
.loggedinlandingpage .group-436-y1HRxC {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 368px;
  justify-content: flex-start;
  left: 745px;
  min-width: 257px;
  position: absolute;
  top: 175px;
  width: auto;
}
.loggedinlandingpage .group-438-y1HRxC {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 368px;
  justify-content: flex-start;
  left: 177px;
  min-width: 248px;
  position: absolute;
  top: 175px;
  width: auto;
}
.loggedinlandingpage .group-446-y1HRxC {
  background-color: transparent;
  height: 407px;
  left: 877px;
  position: absolute;
  top: 820px;
  width: 234px;
}
.loggedinlandingpage .group-461-y1HRxC {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 368px;
  justify-content: flex-start;
  left: 461px;
  min-width: 248px;
  position: absolute;
  top: 175px;
  width: auto;
}
.loggedinlandingpage .group-470-OFFxje {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 23px;
  justify-content: flex-start;
  left: 22px;
  min-width: 225px;
  position: absolute;
  top: 325px;
  width: auto;
}
.loggedinlandingpage .group-470-SWMbei {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 23px;
  justify-content: flex-start;
  left: 22px;
  min-width: 216px;
  position: absolute;
  top: 325px;
  width: auto;
}
.loggedinlandingpage .group-470-kEziSJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 23px;
  justify-content: flex-start;
  left: 22px;
  min-width: 216px;
  position: absolute;
  top: 325px;
  width: auto;
}
.loggedinlandingpage .group-470-pe6IC7 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 23px;
  justify-content: flex-start;
  left: 22px;
  min-width: 235px;
  position: absolute;
  top: 325px;
  width: auto;
}
.loggedinlandingpage .group-511-y1HRxC {
  background-color: transparent;
  height: 46px;
  left: 313px;
  position: absolute;
  top: 1181px;
  width: 172px;
}
.loggedinlandingpage .group-512-DZn6aA {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 172px;
}
.loggedinlandingpage .group-513-y1HRxC {
  background-color: transparent;
  height: 46px;
  left: 499px;
  position: absolute;
  top: 1181px;
  width: 170px;
}
.loggedinlandingpage .group-584-dXBp89 {
  -webkit-backdrop-filter: blur(18px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(18px) brightness(100%);
  background-color: rgba(115,115,115,0.25);
  border-radius: 10.5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 660px;
  justify-content: flex-start;
  margin-left: 316px;
  min-width: 21px;
  padding: 2.6px 2px;
  position: relative;
  width: auto;
}
.loggedinlandingpage .group-FrOVpX {
  background-color: transparent;
  background-image: url(../img/vector-2@2x.svg);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 35px;
  margin-bottom: 0.17px;
  margin-left: 27px;
  position: relative;
  width: 35px;
}
.loggedinlandingpage .group-wQXDsF {
  background-color: transparent;
  height: 14px;
  left: 139px;
  opacity: 0.8;
  position: absolute;
  top: 9px;
  width: 13px;
}
.loggedinlandingpage .hem-Exap6x {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 71px;
}
.loggedinlandingpage .hem-i10641411067180-bxgaHT {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-bottom: 3.58px;
  margin-left: 124px;
  min-height: 24px;
  min-width: 37px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.loggedinlandingpage .kapitel-VTibhF {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.12px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 108px;
}
.loggedinlandingpage .kom-ut-till-en-telse-varje-dag-y1HRxC {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 307px;
  letter-spacing: 0.30px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 841px;
  width: 505px;
}
.loggedinlandingpage .kontakt-i10641411067177-bxgaHT {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 60px;
  margin-top: 11.0px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 149px;
}
.loggedinlandingpage .logga-in-Exap6x {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 34px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 71px;
}
.loggedinlandingpage .logga-ut-i10641411067182-wQXDsF {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 176px;
}
.loggedinlandingpage .loggaut-bxgaHT {
  background-color: transparent;
  border-radius: 15px;
  flex-shrink: 1;
  height: 33px;
  margin-bottom: 2.58px;
  margin-left: 19px;
  overflow: hidden;
  position: relative;
  width: 174px;
}
.loggedinlandingpage .loggo-bxgaHT {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 45px;
  margin-top: 1.0px;
  position: relative;
  width: 190px;
}
.loggedinlandingpage .logo2bookstep-1-58J6IH {
  background-color: transparent;
  height: 28px;
  left: 10px;
  position: absolute;
  top: 8px;
  width: 33px;
}
.loggedinlandingpage .lorem-ipsum-dol-iquam-convallis-OFFxje {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 240px;
  width: 219px;
}
.loggedinlandingpage .lorem-ipsum-dol-iquam-convallis-SWMbei {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 240px;
  width: 219px;
}
.loggedinlandingpage .lorem-ipsum-dol-iquam-convallis-kEziSJ {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 240px;
  width: 219px;
}
.loggedinlandingpage .lorem-ipsum-dol-iquam-convallis-pe6IC7 {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 240px;
  width: 219px;
}
.loggedinlandingpage .menubarinloggad-C61RwL {
  align-items: flex-end;
  background-color: var(--wild-sand);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 164px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 57.4px 30px;
  position: relative;
  width: auto;
}
.loggedinlandingpage .om-oss-Exap6x {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 34px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 71px;
}
.loggedinlandingpage .om-oss-i10641411067178-bxgaHT {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-bottom: 3.58px;
  margin-left: 46px;
  min-height: 24px;
  min-width: 57px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.loggedinlandingpage .ookstep-i10641411067196-58J6IH {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -0px;
  width: 155px;
}
.loggedinlandingpage .overlap-group-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 1392px;
  position: relative;
  width: 1440px;
}
.loggedinlandingpage .overlap-group-yTTPoH {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 258px;
  margin-bottom: -0.0px;
  position: relative;
  width: 251px;
}
.loggedinlandingpage .overlap-group1-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 489px;
  margin-top: 2px;
  position: relative;
  width: 1440px;
}
.loggedinlandingpage .overlap-group1-QxAZpS {
  background-color: transparent;
  flex-shrink: 1;
  height: 33px;
  margin-top: 37px;
  position: relative;
  width: 125px;
}
.loggedinlandingpage .overlap-group10-8wfxG6 {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  position: relative;
  width: 29px;
}
.loggedinlandingpage .overlap-group11-8wfxG6 {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-top: 18px;
  position: relative;
  width: 30px;
}
.loggedinlandingpage .overlap-group12-NRR2fb {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  position: relative;
  width: 28px;
}
.loggedinlandingpage .overlap-group13-NRR2fb {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-top: 18px;
  position: relative;
  width: 28px;
}
.loggedinlandingpage .overlap-group14-0wNbxa {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  position: relative;
  width: 28px;
}
.loggedinlandingpage .overlap-group15-0wNbxa {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-top: 18px;
  position: relative;
  width: 28px;
}
.loggedinlandingpage .overlap-group2-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 258px;
  margin-top: 57px;
  position: relative;
  width: 715px;
}
.loggedinlandingpage .overlap-group3-QxAZpS {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-top: 18px;
  position: relative;
  width: 28px;
}
.loggedinlandingpage .overlap-group4-QxAZpS {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-top: 20px;
  position: relative;
  width: 28px;
}
.loggedinlandingpage .overlap-group5-Lel8Ur {
  background-color: transparent;
  flex-shrink: 1;
  height: 47px;
  position: relative;
  width: 46px;
}
.loggedinlandingpage .overlap-group6-Lel8Ur {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-left: 1.0px;
  margin-top: 8px;
  position: relative;
  width: 29px;
}
.loggedinlandingpage .overlap-group7-5iZlbW {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  position: relative;
  width: 28px;
}
.loggedinlandingpage .overlap-group8-5iZlbW {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-top: 18px;
  position: relative;
  width: 28px;
}
.loggedinlandingpage .overlap-group9-5iZlbW {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-top: 20px;
  position: relative;
  width: 32px;
}
.loggedinlandingpage .profil-bxgaHT {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 39px;
  justify-content: flex-end;
  margin-left: 134px;
  min-width: 204px;
  position: relative;
  width: auto;
}
.loggedinlandingpage .profile-HCfW0l {
  align-items: flex-end;
  background-color: rgba(53,53,53,1.0);
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 39px;
  justify-content: flex-end;
  margin-left: 10px;
  min-width: 40px;
  padding: 7.4px 8.2px;
  position: relative;
  width: auto;
}
.loggedinlandingpage .rectangle-1297-NY6Ocx {
  background-color: rgba(86,86,86,1.0);
  border-radius: 8.542372703552246px;
  flex-shrink: 1;
  height: 83px;
  position: relative;
  width: 17px;
}
.loggedinlandingpage .rectangle-374-y1HRxC {
  background-color: rgba(235,235,235,1.0);
  height: 700px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.loggedinlandingpage .rectangle-375-y1HRxC {
  background-color: rgba(221,221,221,1.0);
  height: 700px;
  left: 0px;
  position: absolute;
  top: 692px;
  width: 1440px;
}
.loggedinlandingpage .rectangle-384-NG5cxJ {
  background-color: rgba(30,30,30,1.0);
  height: 489px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.loggedinlandingpage .rectangle-422-3B0dxx {
  background-color: var(--mist-gray);
  border-radius: 11.549991607666016px;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 64px;
}
.loggedinlandingpage .rectangle-422-CIL1sb {
  background-color: var(--mist-gray);
  border-radius: 11.549991607666016px;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 64px;
}
.loggedinlandingpage .rectangle-422-ENWubw {
  background-color: var(--mist-gray);
  border-radius: 11.549991607666016px;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 64px;
}
.loggedinlandingpage .rectangle-422-NeCpMU {
  background-color: var(--mist-gray);
  border-radius: 11.549991607666016px;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 64px;
}
.loggedinlandingpage .rectangle-423-9Talq2 {
  background-color: transparent;
  border-radius: 11.549991607666016px;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 134px;
}
.loggedinlandingpage .rectangle-423-BEAJgY {
  background-color: rgba(88,88,88,1.0);
  border-radius: 17.188352584838867px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 248px;
}
.loggedinlandingpage .rectangle-423-Pu6Mv5 {
  background-color: transparent;
  border-radius: 11.549991607666016px;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 134px;
}
.loggedinlandingpage .rectangle-423-USYAnD {
  background-color: transparent;
  border-radius: 11.549991607666016px;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 137px;
}
.loggedinlandingpage .rectangle-423-m6y2xr {
  background-color: transparent;
  border-radius: 11.549991607666016px;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 135px;
}
.loggedinlandingpage .rectangle-435-0xy0vn {
  background-color: rgba(238,238,238,1.0);
  flex-shrink: 1;
  height: 884px;
  margin-top: 293px;
  position: relative;
  width: 1440px;
}
.loggedinlandingpage .rectangle-436-OFFxje {
  background-color: var(--hint-of-red);
  box-shadow: 0px 4.238807201385498px 20.34627342224121px rgba(0,0,0,0.15);;
  height: 368px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.loggedinlandingpage .rectangle-436-SWMbei {
  background-color: var(--hint-of-red);
  box-shadow: 0px 4.238807201385498px 20.34627342224121px rgba(0,0,0,0.15);;
  height: 368px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.loggedinlandingpage .rectangle-436-kEziSJ {
  background-color: var(--hint-of-red);
  box-shadow: 0px 4.238807201385498px 20.34627342224121px rgba(0,0,0,0.15);;
  height: 368px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.loggedinlandingpage .rectangle-436-pe6IC7 {
  background-color: var(--hint-of-red);
  box-shadow: 0px 4.238807201385498px 20.34627342224121px rgba(0,0,0,0.15);;
  height: 368px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.loggedinlandingpage .rectangle-437-OFFxje {
  background-color: rgba(127,127,127,1.0);
  height: 186px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.loggedinlandingpage .rectangle-437-SWMbei {
  background-color: rgba(172,172,172,1.0);
  height: 186px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.loggedinlandingpage .rectangle-437-kEziSJ {
  background-color: rgba(208,208,208,1.0);
  height: 186px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.loggedinlandingpage .rectangle-437-pe6IC7 {
  background-color: rgba(85,85,85,1.0);
  height: 186px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.loggedinlandingpage .rectangle-440-OFFxje {
  background-color: transparent;
  height: 40px;
  left: 176px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.loggedinlandingpage .rectangle-440-SWMbei {
  background-color: transparent;
  height: 40px;
  left: 176px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.loggedinlandingpage .rectangle-440-kEziSJ {
  background-color: transparent;
  height: 40px;
  left: 176px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.loggedinlandingpage .rectangle-440-y1HRxC {
  background-color: transparent;
  height: 40px;
  left: 921px;
  position: absolute;
  top: 175px;
  width: 72px;
}
.loggedinlandingpage .rectangle-556-pGgdA0 {
  background-color: rgba(93,93,93,1.0);
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 170px;
}
.loggedinlandingpage .rectangle-556-qECoF8 {
  background-color: rgba(93,93,93,1.0);
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 170px;
}
.loggedinlandingpage .se-all-30-000-bcker-EiWWVS {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 41px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.loggedinlandingpage .skapa-konto-gratis-Exap6x {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 51px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 154px;
}
.loggedinlandingpage .span0-LiZz4X {
  color: rgba(255,255,255,1.0);
  font-style: normal;
}
.loggedinlandingpage .span0-YLL53T {
  color: rgba(255,255,255,1.0);
  font-style: normal;
}
.loggedinlandingpage .span1-LiZz4X {
  color: rgba(255,255,255,1.0);
  font-style: normal;
  font-weight: 500;
}
.loggedinlandingpage .span1-YLL53T {
  color: rgba(255,255,255,1.0);
  font-style: normal;
  font-weight: 500;
}
.loggedinlandingpage .spara-till-favoriter-9Talq2 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 155px;
}
.loggedinlandingpage .spara-till-favoriter-Pu6Mv5 {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 134px;
}
.loggedinlandingpage .spara-till-favoriter-USYAnD {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 143px;
}
.loggedinlandingpage .spara-till-favoriter-m6y2xr {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 134px;
}
.loggedinlandingpage .star-1-OFFxje {
  background-color: transparent;
  height: 11px;
  left: 195px;
  position: absolute;
  top: 14px;
  width: 11px;
}
.loggedinlandingpage .star-1-SWMbei {
  background-color: transparent;
  height: 10px;
  left: 195px;
  position: absolute;
  top: 14px;
  width: 11px;
}
.loggedinlandingpage .star-1-kEziSJ {
  background-color: transparent;
  height: 11px;
  left: 195px;
  position: absolute;
  top: 14px;
  width: 11px;
}
.loggedinlandingpage .star-1-y1HRxC {
  background-color: transparent;
  height: 11px;
  left: 940px;
  position: absolute;
  top: 189px;
  width: 11px;
}
.loggedinlandingpage .the-clean-startup-BxCq5y {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 423px;
  letter-spacing: 0.04px;
  line-height: 35.8px;
  position: absolute;
  text-align: left;
  top: 42px;
  white-space: nowrap;
  width: 292px;
}
.loggedinlandingpage .till-nsta-kapitel-Pximis {
  background-color: transparent;
  height: auto;
  left: 62px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 145px;
  white-space: nowrap;
  width: 130px;
}
.loggedinlandingpage .vector-240-OFFxje {
  background-color: transparent;
  height: 186px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 247px;
}
.loggedinlandingpage .vector-240-SWMbei {
  background-color: transparent;
  height: 186px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 248px;
}
.loggedinlandingpage .vector-240-kEziSJ {
  background-color: transparent;
  height: 186px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 248px;
}
.loggedinlandingpage .vector-240-pe6IC7 {
  background-color: transparent;
  height: 186px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 248px;
}
.loggedinlandingpage .vector-241-OFFxje {
  background-color: transparent;
  height: 187px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 248px;
}
.loggedinlandingpage .vector-241-SWMbei {
  background-color: transparent;
  height: 187px;
  left: -1px;
  position: absolute;
  top: -0px;
  width: 249px;
}
.loggedinlandingpage .vector-241-kEziSJ {
  background-color: transparent;
  height: 187px;
  left: -1px;
  position: absolute;
  top: -0px;
  width: 249px;
}
.loggedinlandingpage .vector-241-pe6IC7 {
  background-color: transparent;
  height: 187px;
  left: -1px;
  position: absolute;
  top: -0px;
  width: 249px;
}
.loggedinlandingpage .vector-242-0kxLof {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-right: -2478.18px;
  margin-top: 20px;
  position: relative;
  transform: rotate(-180deg);
  width: 17px;
}
.loggedinlandingpage .vector-242-nsiDTc {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  position: relative;
  width: 17px;
}
.loggedinlandingpage .vector-249-mXv29L {
  background-color: transparent;
  height: 399px;
  left: -1px;
  position: absolute;
  top: 3px;
  width: 234px;
}
.loggedinlandingpage .vector-250-mXv29L {
  background-color: transparent;
  height: 399px;
  left: -1px;
  position: absolute;
  top: 3px;
  width: 234px;
}
.loggedinlandingpage .vector-5IUgZZ {
  background-color: transparent;
  height: 2px;
  left: 3px;
  position: absolute;
  top: 6px;
  width: 11px;
}
.loggedinlandingpage .vector-DZn6aA {
  background-color: transparent;
  height: 26px;
  left: 16px;
  position: absolute;
  top: 11px;
  width: 24px;
}
.loggedinlandingpage .vector-FrOVpX {
  background-color: transparent;
  flex-shrink: 1;
  height: 38px;
  position: relative;
  width: 38px;
}
.loggedinlandingpage .vector-HCfW0l {
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  margin-left: 9px;
  margin-top: 9.42px;
  position: relative;
  width: 16px;
}
.loggedinlandingpage .vector-Tu5MOb {
  background-color: transparent;
  height: 8px;
  left: 9px;
  position: absolute;
  top: 3px;
  width: 5px;
}
.loggedinlandingpage .vector-d0PgHK {
  background-color: transparent;
  height: 1px;
  left: 11px;
  position: absolute;
  top: 6px;
  width: 1px;
}
.loggedinlandingpage .vector-ecSiqR {
  background-color: transparent;
  height: 16px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 12px;
}
.loggedinlandingpage .vector-pGgdA0 {
  background-color: transparent;
  height: 28px;
  left: 16px;
  position: absolute;
  top: 8px;
  width: 24px;
}
.loggedinlandingpage .vector-xoDvf6 {
  background-color: transparent;
  height: 19px;
  left: 2px;
  position: absolute;
  top: 1px;
  width: 18px;
}
.loggedinlandingpage .vlj-3B0dxx {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 31px;
}
.loggedinlandingpage .vlj-CIL1sb {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 36px;
}
.loggedinlandingpage .vlj-ENWubw {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 33px;
}
.loggedinlandingpage .vlj-NeCpMU {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 31px;
}
.loggedinlandingpage .vlj-en-bok-att-lsa-upp-0PZcXW {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  letter-spacing: 0.09px;
  line-height: 52.2px;
  min-height: 52px;
  min-width: 369px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.loggedinlandingpage .x1-VTibhF {
  background-color: transparent;
  height: auto;
  left: 106px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: 11px;
}
.loggedinlandingpage .x10-qvEZ6z {
  background-color: transparent;
  height: auto;
  left: 3px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 26px;
}
.loggedinlandingpage .x11-dezQy7 {
  background-color: transparent;
  height: auto;
  left: 5px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 25px;
}
.loggedinlandingpage .x12-XJDx09 {
  background-color: transparent;
  height: auto;
  left: 3px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 23px;
}
.loggedinlandingpage .x13-t1e2HG {
  background-color: transparent;
  height: auto;
  left: 3px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 23px;
}
.loggedinlandingpage .x14-Df07Ya {
  background-color: transparent;
  height: auto;
  left: 3px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 29px;
}
.loggedinlandingpage .x2-LnqgvM {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 14px;
}
.loggedinlandingpage .x2500-steg-Pximis {
  background-color: transparent;
  color: rgba(39,39,39,1.0);
  font-family: 'Rubik', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 40px;
  letter-spacing: 0.09px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 95px;
  width: 193px;
}
.loggedinlandingpage .x3-MMK6dC {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 14px;
}
.loggedinlandingpage .x4-2v5bt9 {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 11px;
  letter-spacing: 0.09px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 2px;
  width: 22px;
}
.loggedinlandingpage .x5-46luUL {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: 14px;
}
.loggedinlandingpage .x6-NVskOR {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 14px;
}
.loggedinlandingpage .x7-b4ydLM {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 12px;
}
.loggedinlandingpage .x77-OFFxje {
  background-color: transparent;
  height: auto;
  left: 211px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: 22px;
}
.loggedinlandingpage .x77-SWMbei {
  background-color: transparent;
  height: auto;
  left: 211px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: 22px;
}
.loggedinlandingpage .x77-kEziSJ {
  background-color: transparent;
  height: auto;
  left: 211px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: 22px;
}
.loggedinlandingpage .x77-y1HRxC {
  background-color: transparent;
  height: auto;
  left: 956px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 184px;
  white-space: nowrap;
  width: 22px;
}
.loggedinlandingpage .x8-WI420k {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 15px;
}
.loggedinlandingpage .x9-8deexx {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.03px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 14px;
}
