/* screen - popupsignin */

#overlay-popupsignin {
  background-color: var(--white);
}
.overlay .popupsignin {
  background-color: #00000000;
}
.popupsignin {
  background-color: var(--white);
  height: 218px;
  overflow-x: hidden;
  position: relative;
  width: 512px;
}
.popupsignin .fr-att-lyssna-p-ler-skapa-konto-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 116px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 58px;
  width: 308px;
}
.popupsignin .group-407-C61RwL {
  background-color: transparent;
  height: 51px;
  left: 278px;
  position: absolute;
  top: 141px;
  width: 199px;
}
.popupsignin .group-513-C61RwL {
  background-color: transparent;
  height: 51px;
  left: 50px;
  position: absolute;
  top: 137px;
  width: 199px;
}
.popupsignin .logga-in-wJdKlF {
  background-color: transparent;
  color: var(--white);
  font-family: 'Rubik', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 66px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.popupsignin .rectangle-435-rExVxl {
  background-color: rgba(44,44,44,1.0);
  border-radius: 24px;
  height: 51px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 197px;
}
.popupsignin .rectangle-435-wJdKlF {
  background-color: rgba(44,44,44,1.0);
  border-radius: 24px;
  height: 51px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 197px;
}
.popupsignin .skapa-ett-konto-gratis-rExVxl {
  background-color: transparent;
  color: var(--white);
  font-family: 'Rubik', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 16px;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: 167px;
}
