/* screen - popupaudioplayer */

.popupaudioplayer {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 392px;
  justify-content: flex-start;
  min-width: 731px;
  overflow-x: hidden;
  position: relative;
  width: auto;
}
.popupaudioplayer .b-logo-5-kKblbt {
  background-color: transparent;
  height: 48px;
  left: 347px;
  object-fit: cover;
  position: absolute;
  top: 47px;
  width: 53px;
}
.popupaudioplayer .fr-att-helt-kos-med-ditt-konto-kKblbt {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 160px;
  letter-spacing: 0.20px;
  line-height: 18.7px;
  position: absolute;
  text-align: left;
  top: 179px;
  width: 466px;
}
.popupaudioplayer .group-590-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 392px;
  position: relative;
  width: 735px;
}
.popupaudioplayer .group-590-kKblbt {
  background-color: transparent;
  height: 47px;
  left: 279px;
  position: absolute;
  top: 258px;
  width: 175px;
}
.popupaudioplayer .jag-frstr-3QS7R2 {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 47px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: 97px;
}
.popupaudioplayer .nu-r-frsta-kapitlet-slut-o-kKblbt {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 229px;
  letter-spacing: 0.28px;
  line-height: 33px;
  position: absolute;
  text-align: left;
  top: 134px;
  white-space: nowrap;
  width: 295px;
}
.popupaudioplayer .rectangle-1293-kKblbt {
  background-color: rgba(188,188,188,0.98);
  border-radius: 29px;
  height: 392px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 731px;
}
.popupaudioplayer .rectangle-1295-3QS7R2 {
  background-color: rgba(125,125,125,1.0);
  border-radius: 26px;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 173px;
}
.popupaudioplayer .rectangle-582-kKblbt {
  background-color: rgba(241,241,241,1.0);
  border-radius: 20.206350326538086px;
  height: 83px;
  left: 330px;
  position: absolute;
  top: 29px;
  width: 86px;
}
