/* screen - popupexcercise */

#overlay-popupexcercise {
  background-color: rgba(241,241,241,1.0);
}
.overlay .popupexcercise {
  background-color: #00000000;
}
.popupexcercise {
  background-color: rgba(241,241,241,1.0);
  border-radius: 30px;
  height: 336px;
  overflow-x: hidden;
  position: relative;
  width: 582.71px;
}
.popupexcercise .blddra-bland-ljudbcker-7vHbhG {
  background-color: transparent;
  color: var(--white);
  font-family: 'Rubik', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 41px;
  letter-spacing: 0.17px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 7px;
  white-space: nowrap;
  width: auto;
}
.popupexcercise .group-372-C61RwL {
  background-color: transparent;
  height: 34px;
  left: 167px;
  position: absolute;
  top: 226px;
  width: 250px;
}
.popupexcercise .kom-igng-med-mo-a-p-och-lsa-upp-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 27.6px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 68px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 109px;
  width: 447px;
}
.popupexcercise .rectangle-423-7vHbhG {
  background-color: rgba(88,88,88,1.0);
  border-radius: 17.188352584838867px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 248px;
}
