/* screen - signinautofill */

.signinautofill {
  align-items: flex-end;
  background-color: var(--wild-sand);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 1388px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.signinautofill .b-logo-3-MJiU2I {
  background-color: transparent;
  height: 34px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 39px;
}
.signinautofill .bcker-UsHvxH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-bottom: -0.0px;
  margin-left: 34px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 71px;
}
.signinautofill .bcker-mZdJQv {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 79px;
  margin-top: 11.0px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 70px;
}
.signinautofill .bekrfta-din-e-post-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 19px;
  min-width: 153px;
  position: relative;
  text-align: left;
  width: auto;
}
.signinautofill .e-post-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 18px;
  min-height: 19px;
  min-width: 55px;
  position: relative;
  text-align: left;
  width: auto;
}
.signinautofill .efternamn-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 19px;
  min-width: 85px;
  position: relative;
  text-align: left;
  width: auto;
}
.signinautofill .ellipse-360-28gM0D {
  background-color: transparent;
  height: 9px;
  left: 3px;
  position: absolute;
  top: -0px;
  width: 9px;
}
.signinautofill .ellipse-360-xGsN4X {
  background-color: transparent;
  height: 9px;
  left: 3px;
  position: absolute;
  top: -0px;
  width: 9px;
}
.signinautofill .ellipse-361-Q5TIXz {
  background-color: transparent;
  height: 10px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 10px;
}
.signinautofill .flex-col-dXBp89 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 20.88px;
  min-height: 595px;
  position: relative;
  width: 297px;
}
.signinautofill .flex-row-C61RwL {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 660px;
  justify-content: flex-start;
  margin-right: 25px;
  margin-top: 24px;
  min-width: 861px;
  position: relative;
  width: auto;
}
.signinautofill .fortstt-AxBYjz {
  background-color: transparent;
  color: var(--white);
  font-family: 'Rubik', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 49px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  width: auto;
}
.signinautofill .frnamn-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 40px;
  min-height: 19px;
  min-width: 72px;
  position: relative;
  text-align: left;
  width: auto;
}
.signinautofill .group-330-fF6HMg {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  min-width: 604px;
  position: relative;
  width: auto;
}
.signinautofill .group-332-4eduM0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 423px;
  min-width: 594px;
  position: absolute;
  top: 213px;
  width: auto;
}
.signinautofill .group-372-AY0nkn {
  background-color: var(--fuscous-gray);
  border-radius: 15.833860397338867px;
  flex-shrink: 1;
  height: 31px;
  position: relative;
  width: 162px;
}
.signinautofill .group-419-7Nmhey {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 31px;
  justify-content: flex-start;
  min-width: 162px;
  position: relative;
  width: auto;
}
.signinautofill .group-420-hlRTvN {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 31px;
  justify-content: flex-start;
  min-width: 162px;
  position: relative;
  width: auto;
}
.signinautofill .group-422-4eduM0 {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 38px;
  justify-content: flex-start;
  left: 670px;
  min-width: 100px;
  position: absolute;
  top: 317px;
  width: auto;
}
.signinautofill .group-454-eEcNcc {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 31px;
  justify-content: flex-start;
  min-width: 162px;
  position: relative;
  width: auto;
}
.signinautofill .group-461-AxBYjz {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 31px;
  justify-content: flex-start;
  left: 0px;
  min-width: 162px;
  position: absolute;
  top: 0px;
  width: auto;
}
.signinautofill .group-493-ttMvh5 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}
.signinautofill .group-494-EuXkzh {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}
.signinautofill .group-495-nlxkfa {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}
.signinautofill .group-496-BxCq5y {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}
.signinautofill .group-497-E99VDD {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}
.signinautofill .group-498-ttMvh5 {
  background-color: transparent;
  height: 16px;
  left: 11px;
  position: absolute;
  top: 8px;
  width: 15px;
}
.signinautofill .group-499-EuXkzh {
  background-color: transparent;
  height: 16px;
  left: 11px;
  position: absolute;
  top: 8px;
  width: 15px;
}
.signinautofill .group-500-nlxkfa {
  background-color: transparent;
  height: 11px;
  left: 11px;
  position: absolute;
  top: 10px;
  width: 17px;
}
.signinautofill .group-501-BxCq5y {
  background-color: transparent;
  height: 11px;
  left: 11px;
  position: absolute;
  top: 11px;
  width: 17px;
}
.signinautofill .group-502-E99VDD {
  background-color: transparent;
  height: 10px;
  left: 9px;
  position: absolute;
  top: 11px;
  width: 22px;
}
.signinautofill .group-503-0PZcXW {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 31px;
  margin-left: 13.0px;
  margin-top: 69px;
  position: relative;
  width: 164px;
}
.signinautofill .group-584-dXBp89 {
  -webkit-backdrop-filter: blur(18px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(18px) brightness(100%);
  background-color: rgba(115,115,115,0.25);
  border-radius: 10.5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 660px;
  justify-content: flex-start;
  margin-left: 543px;
  min-width: 21px;
  padding: 2.6px 2px;
  position: relative;
  width: auto;
}
.signinautofill .group-9nI8mc {
  background-color: transparent;
  background-image: url(../img/vector-2@2x.svg);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 35px;
  margin-bottom: 0.17px;
  margin-left: 27px;
  position: relative;
  width: 35px;
}
.signinautofill .hem-UsHvxH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 71px;
}
.signinautofill .hem-mZdJQv {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-bottom: 2px;
  margin-left: 124px;
  min-height: 24px;
  min-width: 38px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.signinautofill .ipsum-qT1sNa {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 54px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}
.signinautofill .kontakt-mZdJQv {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-left: 58px;
  margin-top: 11.0px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 149px;
}
.signinautofill .logga-in-U1iV6o {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 19px;
  position: relative;
  text-align: center;
  width: 176px;
}
.signinautofill .logga-in-UsHvxH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-bottom: -0.0px;
  margin-left: 34px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 71px;
}
.signinautofill .loggain-mZdJQv {
  align-items: center;
  background-color: transparent;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 33px;
  justify-content: flex-start;
  margin-bottom: 1px;
  margin-left: 174px;
  overflow: hidden;
  position: relative;
  width: 174px;
}
.signinautofill .loggo-mZdJQv {
  background-color: transparent;
  flex-shrink: 1;
  height: 45px;
  position: relative;
  width: 190px;
}
.signinautofill .logo2bookstep-1-MJiU2I {
  background-color: transparent;
  height: 28px;
  left: 10px;
  position: absolute;
  top: 8px;
  width: 33px;
}
.signinautofill .lorem-K28fmP {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 54px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}
.signinautofill .loremipsumgmailcom-aJcL42 {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 54px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}
.signinautofill .loremipsumgmailcom-nBwdjx {
  background-color: transparent;
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 54px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}
.signinautofill .menubar-C61RwL {
  align-items: flex-end;
  background-color: var(--wild-sand);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 164px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 59px 30px;
  position: relative;
  width: auto;
}
.signinautofill .om-oss-UsHvxH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-bottom: -0.0px;
  margin-left: 34px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 71px;
}
.signinautofill .om-oss-mZdJQv {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-bottom: 2px;
  margin-left: 46px;
  min-height: 24px;
  min-width: 59px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.signinautofill .ookstep-MJiU2I {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -0px;
  width: 155px;
}
.signinautofill .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 489px;
  margin-top: 51px;
  position: relative;
  width: 1440px;
}
.signinautofill .overlap-group1-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 31px;
  margin-left: 1px;
  margin-top: 14px;
  position: relative;
  width: 296px;
}
.signinautofill .overlap-group2-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 31px;
  margin-left: 1px;
  margin-top: 14px;
  position: relative;
  width: 296px;
}
.signinautofill .overlap-group3-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 31px;
  margin-left: 1px;
  margin-top: 14px;
  position: relative;
  width: 296px;
}
.signinautofill .overlap-group4-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 31px;
  margin-left: 1px;
  margin-top: 14px;
  position: relative;
  width: 296px;
}
.signinautofill .overlap-group5-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 31px;
  margin-left: 1px;
  margin-top: 18px;
  position: relative;
  width: 296px;
}
.signinautofill .prova-bookstep-Pog5F0 {
  background-color: transparent;
  color: var(--white);
  flex-shrink: 1;
  font-family: 'Rubik', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 19px;
  position: relative;
  text-align: center;
  width: 176px;
}
.signinautofill .rectangle-1297-NY6Ocx {
  background-color: rgba(86,86,86,1.0);
  border-radius: 8.542372703552246px;
  flex-shrink: 1;
  height: 83px;
  position: relative;
  width: 17px;
}
.signinautofill .rectangle-384-4eduM0 {
  background-color: rgba(30,30,30,1.0);
  height: 489px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.signinautofill .rectangle-449-K28fmP {
  background-color: var(--mercury);
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
.signinautofill .rectangle-449-aJcL42 {
  background-color: var(--mercury);
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
.signinautofill .rectangle-449-b48928 {
  background-color: var(--mercury);
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
.signinautofill .rectangle-449-nBwdjx {
  background-color: var(--mercury);
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
.signinautofill .rectangle-449-qT1sNa {
  background-color: var(--mercury);
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
.signinautofill .rectangle-451-nlxkfa {
  background-color: var(--mercury);
  height: 31px;
  left: 37px;
  position: absolute;
  top: 0px;
  width: 257px;
}
.signinautofill .rectangle-452-BxCq5y {
  background-color: var(--mercury);
  height: 31px;
  left: 37px;
  position: absolute;
  top: 0px;
  width: 257px;
}
.signinautofill .rectangle-453-E99VDD {
  background-color: var(--mercury);
  height: 31px;
  left: 37px;
  position: absolute;
  top: 0px;
  width: 257px;
}
.signinautofill .rectangle-549-0fnvqk {
  background-color: rgba(78,78,78,1.0);
  border-radius: 2.2666666507720947px;
  height: 11px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 16px;
}
.signinautofill .rectangle-549-9wXgQ2 {
  background-color: rgba(78,78,78,1.0);
  border-radius: 2.2666666507720947px;
  height: 11px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 16px;
}
.signinautofill .registrera-mZdJQv {
  align-items: center;
  background-color: var(--fuscous-gray);
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 33px;
  justify-content: flex-start;
  margin-bottom: 2px;
  margin-left: 9px;
  overflow: hidden;
  position: relative;
  width: 174px;
}
.signinautofill .skapa-konto-0PZcXW {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Roboto', Helvetica;
  font-size: 32.6px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 38px;
  position: relative;
  text-align: left;
  width: 184px;
}
.signinautofill .skapa-konto-gratis-UsHvxH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.08px;
  line-height: 23.8px;
  margin-bottom: -0.0px;
  margin-left: 51px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 154px;
}
.signinautofill .skriv-hr-BxCq5y {
  background-color: transparent;
  color: var(--pink-swan);
  font-family: 'Roboto', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 54px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}
.signinautofill .skriv-hr-E99VDD {
  background-color: transparent;
  color: var(--pink-swan);
  font-family: 'Roboto', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 54px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}
.signinautofill .skriv-hr-nlxkfa {
  background-color: transparent;
  color: var(--pink-swan);
  font-family: 'Roboto', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 54px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}
.signinautofill .subtract-28gM0D {
  background-color: transparent;
  height: 8px;
  left: -0px;
  position: absolute;
  top: 8px;
  width: 15px;
}
.signinautofill .subtract-xGsN4X {
  background-color: transparent;
  height: 8px;
  left: -0px;
  position: absolute;
  top: 8px;
  width: 15px;
}
.signinautofill .vector-397-K28fmP {
  background-color: transparent;
  height: 31px;
  left: 39px;
  position: absolute;
  top: 0px;
  width: 2px;
}
.signinautofill .vector-397-aJcL42 {
  background-color: transparent;
  height: 31px;
  left: 39px;
  position: absolute;
  top: 0px;
  width: 2px;
}
.signinautofill .vector-397-b48928 {
  background-color: transparent;
  height: 31px;
  left: 39px;
  position: absolute;
  top: 0px;
  width: 2px;
}
.signinautofill .vector-397-nBwdjx {
  background-color: transparent;
  height: 31px;
  left: 39px;
  position: absolute;
  top: 0px;
  width: 2px;
}
.signinautofill .vector-397-qT1sNa {
  background-color: transparent;
  height: 31px;
  left: 39px;
  position: absolute;
  top: 0px;
  width: 2px;
}
.signinautofill .vector-398-0fnvqk {
  background-color: transparent;
  height: 7px;
  left: -1px;
  position: absolute;
  top: 1px;
  width: 19px;
}
.signinautofill .vector-398-9wXgQ2 {
  background-color: transparent;
  height: 7px;
  left: -1px;
  position: absolute;
  top: 1px;
  width: 19px;
}
.signinautofill .vector-399-Q5TIXz {
  background-color: transparent;
  height: 2px;
  left: 9px;
  position: absolute;
  top: 4px;
  width: 13px;
}
.signinautofill .vector-400-Q5TIXz {
  background-color: transparent;
  height: 6px;
  left: 19px;
  position: absolute;
  top: 4px;
  width: 3px;
}
.signinautofill .vector-401-Q5TIXz {
  background-color: transparent;
  height: 6px;
  left: 16px;
  position: absolute;
  top: 4px;
  width: 3px;
}
.signinautofill .vector-9nI8mc {
  background-color: transparent;
  flex-shrink: 1;
  height: 38px;
  position: relative;
  width: 38px;
}
.signinautofill .vlj-lsenord-minst-7-tecken-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 31px;
  min-height: 19px;
  min-width: 228px;
  position: relative;
  text-align: left;
  width: auto;
}
.signinautofill .x123-abc-b48928 {
  background-color: transparent;
  color: var(--black);
  font-family: 'Rubik', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 54px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}
